{% extends '@api_report/base.twig' %}
{% block pageTitle %}{% endblock %}
{% block pageContent %}

    {% set renderedGroup = null %}
    {% set newGroup = false %}
    {% for resident in data.residents %}
        {% if renderedGroup == resident.id %}
            {% set newGroup = false %}
        {% else %}
            {% set renderedGroup = resident.id %}
            {% set newGroup = true %}
        {% endif %}

        {% if newGroup %}
            <div class="page"></div>
            <table class="report-table main-table bordered" style="margin-bottom: 10px;">
            <thead>
            <tr>
                <th colspan="7">
                    <div style="margin-bottom: 5px;">
                        <div style="float: left">
                            <div style="height: 5px;"></div>
                            <b style="font-size: 18px !important">{{ data.strategy }}&nbsp;Events&nbsp;Report</b>
                            <p style="margin-bottom: 5px;"></p>
                            <b style="font-size: 14px !important">{{ data.startDate|date("m/d/Y") }}&nbsp;through&nbsp;{{ data.endDate|date("m/d/Y") }}</b>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </th>
            </tr>
            <tr style="">
                <td colspan="4" style=""><b style="font-size: 18px !important; margin-left: 20px;">{{ resident.typeShorthand }}</b></td>
            </tr>
            </thead>
            <tbody>
        {% endif %}

            <tr class="dividerSecond"><td colspan="9" style="width: 20px !important; border: none"></td></tr>
            <tr style="border: none; margin: 0;">
                <td colspan="4" style="border: none; margin: 0; "><b style="font-size: 14px !important; margin-left: 20px;">{{ resident.firstName ~ ' ' ~ resident.lastName }}</b></td>
            </tr>
            {% set n = 0 %}
            {% if resident['events'] is defined %}
                {% for event in resident.events %}
                        {% set n = n + 1 %}
                        {% if n == 1  %}
                            <tr style="margin: 0;">
                                <td style="font-size: 13px !important; margin: 0;">
                                    <div style="float: left; width: 11% !important; margin: 0;">Date</div>
                                    <div style="float: left; width: 19% !important; margin: 0;">Event&nbsp;type</div>
                                    <div style="float: left; width: 35% !important; margin: 0;">Value</div>
                                    <div style="float: left; width: 35% !important; margin: 0;">Note</div>
                                </td>
                            </tr>
                        {% endif %}
                        <tr style="margin: 0;">
                            <td style="margin: 0;">
                                <div style="float: left; width: 11% !important; margin: 0;"><b style="font-size: 11px !important;">{% if event.date %}{{ event.date|date('m/d/Y') }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 19% !important; margin: 0;"><b style="font-size: 11px !important;">{% if event.title %}{{ event.title }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 35% !important; margin: 0;">
                                    <b style="font-size: 11px !important;">
                                        {% if event.physicianFirstName and event.physicianLastName %}Physician&nbsp;:&nbsp;{% if event.physicianSalutation %}{{ event.physicianSalutation }}&nbsp;{% endif %}{{ event.physicianFirstName }}&nbsp;{{ event.physicianLastName }}{% endif %}
                                        {% if event.responsiblePersonFirstName and event.responsiblePersonLastName %}RP&nbsp;person&nbsp;:&nbsp;{% if event.responsiblePersonSalutation %}{{ event.responsiblePersonSalutation }}&nbsp;{% endif %}{{ event.responsiblePersonFirstName }}&nbsp;{{ event.responsiblePersonLastName }}{% endif %}
                                        {% if event.additionalDate %}Discharge&nbsp;Date&nbsp;:&nbsp;{{ event.additionalDate|date('m/d/Y') }}{% endif %}
                                        {% if not event.physicianFirstName and not event.responsiblePersonFirstName and not event.additionalDate %}N/A{% endif %}
                                    </b>
                                </div>
                                <div style="float: left; width: 35% !important; margin: 0;"><b style="font-size: 11px !important;">{% if event.notes %}{{ event.notes }}{% else %}N/A{% endif %}</b></div>
                            </td>
                        </tr>

                {% endfor %}
            {% endif %}
        </tbody>
        </table>
    {% endfor %}

{% endblock %}
{% block pageFooter %}
{% endblock %}