{% extends '@api_report/base.twig' %}
{% block pageTitle %}{% endblock %}
{% block pageContent %}

    {% for date, monthData in data.data %}
        <table class="report-table main-table bordered" style="margin-bottom: 10px;">
            <thead>
            <tr>
                <th colspan="6">
                    <div>
                        <div style="text-align: center">
                            <b style="font-size: 18px !important">Move&nbsp;Report</b><br>
                            <b style="font-size: 18px !important">{{ date }}</b>
                        </div>
                    </div>
                    <div>
                        <div style="text-align: left">
                            <b style="font-size: 18px !important">New&nbsp;Move-Ins</b><br>
                        </div>
                    </div>
                </th>
            <tr class="divider"></tr>
            <tr>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>{{ data.strategy }}</b></td>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>Resident</b></td>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>Short&nbsp;Term</b></td>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>Long&nbsp;Term</b></td>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>Re-admit</b></td>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>Room/Bed&nbsp;#</b></td>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>Notes</b></td>
            </tr>
            </thead>
            <tbody>
            {% for datum in monthData %}
                {% if datum.admissionType is not defined or (datum.admissionType is defined and datum.admissionType != constant('App\\Model\\AdmissionType::DISCHARGE')) %}
                <tr>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.sumLongTerm is defined %}<b>{% endif %}
                            {% if datum.typeShorthand is defined %}{{ datum.typeShorthand }}{% endif %}
                            {% if datum.sumLongTerm is defined %}</b>{% endif %}
                    </td>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.firstName is defined %}{{ datum.firstName }}&nbsp;{{ datum.lastName }}{% endif %}
                    </td>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.admissionType is defined and datum.admissionType == constant('App\\Model\\AdmissionType::SHORT_ADMIT') %}
                            {% if datum.admitted is defined %}{{ datum.admitted|date("m/d/Y") }}
                            {% endif %}
                        {% endif %}
                        {% if datum.sumShortTerm is defined %}<b>{{ datum.sumShortTerm }}</b>{% endif %}
                    </td>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.admissionType is defined and datum.admissionType == constant('App\\Model\\AdmissionType::LONG_ADMIT') %}
                            {% if datum.admitted is defined %}{{ datum.admitted|date("m/d/Y") }}
                            {% endif %}
                        {% endif %}
                        {% if datum.sumLongTerm is defined %}<b>{{ datum.sumLongTerm }}</b>{% endif %}
                    </td>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.admissionType is defined and datum.admissionType == constant('App\\Model\\AdmissionType::READMIT') %}
                            {% if datum.admitted is defined %}{{ datum.admitted|date("m/d/Y") }}
                            {% endif %}
                        {% endif %}
                        {% if datum.sumReadmit is defined %}<b>{{ datum.sumReadmit }}</b>{% endif %}
                    </td>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.roomNumber is defined and datum.bedNumber is defined %}
                            {% if datum.private %}
                                {{ datum.roomNumber }}&nbsp;
                            {% else %}
                                {{ datum.roomNumber }}&nbsp;{{ datum.bedNumber }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.notes is defined %}{{ datum.notes }}{% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td style="border: solid 1px black;"><b>Grand&nbsp;Total</b></td>
                <td style="border: solid 1px black;"><b></b></td>
                <td style="border: solid 1px black; text-align: center;"><b>{% if data.grandTotal[date]['sumShortTerm'] is defined %}{{ data.grandTotal[date]['sumShortTerm'] }}{% else %}0{% endif %}</b></td>
                <td style="border: solid 1px black; text-align: center;"><b>{% if data.grandTotal[date]['sumLongTerm'] is defined %}{{ data.grandTotal[date]['sumLongTerm'] }}{% else %}0{% endif %}</b></td>
                <td style="border: solid 1px black; text-align: center;"><b>{% if data.grandTotal[date]['sumReadmit'] is defined %}{{ data.grandTotal[date]['sumReadmit'] }}{% else %}0{% endif %}</b></td>
                <td style="border: solid 1px black;"><b></b></td>
                <td style="border: solid 1px black;"><b></b></td>
            </tr>
            </tbody>
        </table>

        <table class="report-table main-table bordered" style="margin-bottom: 10px;">
            <thead>
            <tr>
                <th colspan="7">
                    <div>
                        <div style="text-align: left">
                            <b style="font-size: 18px !important">New&nbsp;Move-Outs</b><br>
                        </div>
                    </div>
                </th>
            <tr class="divider"></tr>
            <tr>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>{{ data.strategy }}</b></td>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>Resident</b></td>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>Move-Out</b></td>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>Original&nbsp;Move-In</b></td>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>Room/Bed&nbsp;#</b></td>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>Notes</b></td>
                <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                    <b>Total&nbsp;Time&nbsp;(*)</b></td>
            </tr>
            </thead>
            <tbody>
            {% for datum in monthData %}
                {% if datum.admissionType is not defined or (datum.admissionType is defined and datum.admissionType == constant('App\\Model\\AdmissionType::DISCHARGE')) %}
                <tr>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.sumLongTerm is defined %}<b>{% endif %}
                            {% if datum.typeShorthand is defined %}{{ datum.typeShorthand }}{% endif %}
                            {% if datum.sumLongTerm is defined %}</b>{% endif %}
                    </td>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.firstName is defined %}{{ datum.firstName }}&nbsp;{{ datum.lastName }}{% endif %}
                    </td>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.admissionType is defined and datum.admissionType == constant('App\\Model\\AdmissionType::DISCHARGE') %}
                            {% if datum.admitted is defined %}{{ datum.admitted|date("m/d/Y") }}
                            {% endif %}
                        {% endif %}
                        {% if datum.sumMoveOut is defined %}<b>{{ datum.sumMoveOut }}</b>{% endif %}
                    </td>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.admissionType is defined and datum.admissionType == constant('App\\Model\\AdmissionType::DISCHARGE') and datum.original is defined %}
                            {{ datum.original|date("m/d/Y") }}
                        {% endif %}
                    </td>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.roomNumber is defined and datum.bedNumber is defined %}
                            {% if datum.private %}
                                {{ datum.roomNumber }}&nbsp;
                            {% else %}
                                {{ datum.roomNumber }}&nbsp;{{ datum.bedNumber }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.notes is defined %}{{ datum.notes }}{% endif %}
                    </td>
                    <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                        {% if datum.actionId is defined and data.days[date][datum['actionId']] is defined %}
                            {{ formatDay(data.days[date][datum['actionId']]) }}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td style="border: solid 1px black;"><b>Grand&nbsp;Total</b></td>
                <td style="border: solid 1px black;"><b></b></td>
                <td style="border: solid 1px black; text-align: center;"><b>{% if data.grandTotal[date]['sumMoveOut'] is defined %}{{ data.grandTotal[date]['sumMoveOut'] }}{% else %}0{% endif %}</b></td>
                <td style="border: solid 1px black;"><b></b></td>
                <td style="border: solid 1px black;"><b></b></td>
                <td style="border: solid 1px black;"><b></b></td>
                <td style="border: solid 1px black;"><b></b></td>
            </tr>
            </tbody>
        </table>
    {% endfor %}

{% endblock %}
{% block pageFooter %}
{% endblock %}