{% extends '@api_report/base.twig' %}
{% block pageTitle %}{% endblock %}
{% block pageContent %}

    <table class="report-table main-table bordered" style="margin-bottom: 10px;">
        <thead>
        <tr>
            <th colspan="9">
                <div style="margin-bottom: 5px;">
                    <div style="text-align: center">
                        <b style="font-size: 18px !important">Move&nbsp;Report</b><br>
                        <b style="font-size: 18px !important">{{ data.date|date("F") }}
                            &nbsp;{{ data.date|date("Y") }}</b>
                    </div>
                </div>
            </th>
        <tr class="divider"></tr>
        <tr>
            <td rowspan="2"
                style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                <b>{{ data.strategy }}</b></td>
            <td rowspan="2"
                style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                <b>Resident</b></td>
            <td colspan="2"
                style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                <b>New&nbsp;Move-Ins</b></td>
            <td colspan="2"
                style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                <b>New&nbsp;Move-Outs</b></td>
            <td rowspan="2"
                style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                <b>Room/Bed&nbsp;#</b></td>
            <td rowspan="2"
                style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                <b>Notes</b></td>
            <td rowspan="2"
                style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                <b>Total&nbsp;Time&nbsp;(*)</b></td>
        </tr>
        <tr>
            <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                <b>Short&nbsp;Term</b></td>
            <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                <b>Long&nbsp;Term</b></td>
            <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                <b>Move-Out</b></td>
            <td style="background-color: darkgray; text-align: center; vertical-align: middle; border: solid 1px black;">
                <b>Original&nbsp;Move-In</b></td>
        </tr>
        </thead>
        <tbody>
        {% for datum in data.data %}
            <tr>
                <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                    {% if datum.sumLongTerm is defined %}<b>{% endif %}
                        {% if datum.typeShorthand is defined %}{{ datum.typeShorthand }}{% endif %}
                        {% if datum.sumLongTerm is defined %}</b>{% endif %}
                </td>
                <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                    {% if datum.firstName is defined %}{{ datum.firstName }}&nbsp;{{ datum.lastName }}{% endif %}
                </td>
                <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                    {% if datum.admissionType is defined and datum.admissionType == constant('App\\Model\\AdmissionType::SHORT_ADMIT') %}
                        {% if datum.admitted is defined %}{{ datum.admitted|date("m/d/Y") }}
                        {% endif %}
                    {% endif %}
                    {% if datum.sumShortTerm is defined %}<b>{{ datum.sumShortTerm }}</b>{% endif %}
                </td>
                <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                    {% if datum.admissionType is defined and datum.admissionType == constant('App\\Model\\AdmissionType::LONG_ADMIT') %}
                        {% if datum.admitted is defined %}{{ datum.admitted|date("m/d/Y") }}
                        {% endif %}
                    {% endif %}
                    {% if datum.sumLongTerm is defined %}<b>{{ datum.sumLongTerm }}</b>{% endif %}
                </td>
                <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                    {% if datum.admissionType is defined and datum.admissionType == constant('App\\Model\\AdmissionType::DISCHARGE') %}
                        {% if datum.admitted is defined %}{{ datum.admitted|date("m/d/Y") }}
                        {% endif %}
                    {% endif %}
                    {% if datum.sumMoveOut is defined %}<b>{{ datum.sumMoveOut }}</b>{% endif %}
                </td>
                <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                    {% if datum.admissionType is defined and datum.admissionType == constant('App\\Model\\AdmissionType::DISCHARGE') and datum.original is defined %}
                        {{ datum.original|date("m/d/Y") }}
                    {% endif %}
                </td>
                <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                    {% if datum.roomNumber is defined and datum.bedNumber is defined %}
                        {% if datum.private %}
                            {{ datum.roomNumber }}&nbsp;
                        {% else %}
                            {{ datum.roomNumber }}&nbsp;{{ datum.bedNumber }}
                        {% endif %}
                    {% endif %}
                </td>
                <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                    {% if datum.notes is defined %}{{ datum.notes }}{% endif %}
                </td>
                <td style="border: solid 1px black; {% if datum.sumLongTerm is defined %}background-color: darkgray; text-align: center;{% endif %}">
                    {% if datum.actionId is defined and data.days[datum['actionId']] is defined %}
                        {{ formatDay(data.days[datum['actionId']]) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td style="border: solid 1px black;"><b>Grand&nbsp;Total</b></td>
            <td style="border: solid 1px black;"><b></b></td>
            <td style="border: solid 1px black; text-align: center;"><b>{{ data.grandTotal['sumShortTerm'] }}</b></td>
            <td style="border: solid 1px black; text-align: center;"><b>{{ data.grandTotal['sumLongTerm'] }}</b></td>
            <td style="border: solid 1px black; text-align: center;"><b>{{ data.grandTotal['sumMoveOut'] }}</b></td>
            <td style="border: solid 1px black;"><b></b></td>
            <td style="border: solid 1px black;"><b></b></td>
            <td style="border: solid 1px black;"><b></b></td>
            <td style="border: solid 1px black;"><b></b></td>
        </tr>
        </tbody>
    </table>

{% endblock %}
{% block pageFooter %}
{% endblock %}