{% extends '@api_report/base.twig' %}
{% block pageTitle %}
{% endblock %}
{% block pageContent %}

    {% set i = 0 %}
    {% for residentId, resident in data.residents %}
        {% set i = i + 1 %}

        <table style="margin: 0; padding: 0; page-break-inside: avoid !important;">
            <tr style="width:100%; clear: both; margin: 0; padding: 0; page-break-inside: avoid !important;"></tr>
        </table>
        {% if i > 1 %}
            <div class="page">
            </div>
        {% endif %}

        <table class="report-table main-table bordered">
            <tr class="divider"></tr>
            <thead>
                <tr>
                    <th colspan="9">
                        <div style="float: right">
                            {% if resident['dnr'] is defined %}
                                <p style="font-size: 16px !important; margin: 0;"><b>DNR&nbsp;on&nbsp;file:&nbsp;{% if resident['dnr'] == true %}Yes{% else %}No{% endif %}</b></p>
                            {% endif %}
                            {% if resident['polst'] is defined %}
                                <p style="font-size: 16px !important; margin: 0;"><b>POLST&nbsp;on&nbsp;file:&nbsp;{% if resident['polst'] == true %}Yes{% else %}No{% endif %}</b></p>
                            {% endif %}
                        </div>
                        <div style="float: left; width: 400px !important;">
                            <div style="height: 5px;"></div>
                            <p style="font-size: 20px !important; margin: 0;">RESIDENT PROFILE</p>
                            <p style="font-size: 12px !important;margin: 0;">{% if resident['typeName'] is defined %}{{ resident['typeName'] }}&nbsp;{% endif %}
                                {% if resident['address'] is defined and resident['address'] %}Address:&nbsp;{{ resident['address'] }}{% endif %}
                            </p>
                            <p style="font-size: 11px !important; margin: 0;">
                                {% if resident['typePhone'] is defined and resident['typePhone'] %}Phone:&nbsp;{{ resident['typePhone'] }}{% endif %}
                                {% if resident['typeFax'] is defined and resident['typeFax'] %}Fax:&nbsp;{{ resident['typeFax'] }}{% endif %}
                                {% if resident['license'] is defined and resident['license'] %}License:&nbsp;#{{ resident['license'] }}{% endif %}
                                {% if resident['city'] is defined and resident['city'] %}{{ resident['city'] }}&nbsp;{{ resident['state'] }}&nbsp;{{ resident['zip'] }}{% endif %}
                            </p>
                        </div>
                        <div style="clear: both"></div>
                    </th>
                </tr>
                <tr>
                    <td colspan="9" style="border-bottom: solid 0.5px darkgray; font-size: 13px !important;">
                        {% if resident['bedNumber'] is defined and resident['bedNumber'] %}<div style="float: left; width: 11%">Bed</div>{% endif %}
                        <div style="float: left; width: 28%">Full&nbsp;name</div>
                        {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 16%">Birthday</div>{% endif %}
                        {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 6%">Age</div>{% endif %}
                        {% if resident['floor'] is defined and resident['floor'] %}<div style="float: left; width: 10%">Floor</div>{% endif %}
                        {% if resident['careGroup'] is defined %}<div style="float: left; width: 12%">Group</div>{% endif %}
                        {% if resident['careLevel'] is defined %}<div style="float: left; width: 17%">Care&nbsp;level</div>{% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        {% if resident['bedNumber'] is defined and resident['bedNumber'] %}<div style="float: left; width: 11%"><b style="font-size: 12px !important;">{% if resident['roomNumber'] %}{{ resident['roomNumber'] }}&nbsp;{% endif %}{% if resident['bedNumber'] %}{{ resident['bedNumber'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        <div style="float: left; width: 28%"><b style="font-size: 12px !important;">{% if resident['firstName'] %}{{ resident['firstName'] }}{% if resident['lastName'] %}&nbsp;{{ resident['lastName'] }}{% endif %}{% else %}N/A{% endif %}</b></div>
                        {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 16%"><b style="font-size: 12px !important;">{% if resident['birthday'] %}{{ resident['birthday']|date("m/d/Y") }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 6%"><b style="font-size: 12px !important;">{% if resident['birthday'] %}{{ age(resident['birthday']|date("m/d/Y")) }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        {% if resident.floor is defined and resident.floor %}<div style="float: left; width: 10%"><b style="font-size: 12px !important;">{% if resident.floor %}{{ resident.floor }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        {% if resident['careGroup'] is defined %}<div style="float: left; width: 12%"><b style="font-size: 12px !important;">{% if resident['careGroup'] %}{{ resident['careGroup'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        {% if resident['careLevel'] is defined %}<div style="float: left; width: 17%"><b style="font-size: 12px !important;">{% if resident['careLevel'] %}{{ resident['careLevel'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="9" style="border-bottom: solid 0.5px darkgray; font-size: 13px !important;">
                        {% if resident['ssn'] is defined %}<div style="float: left; width: 20%">Social&nbsp;Security&nbsp;#</div>{% endif %}
                        {% if resident['startDate'] is defined %}<div style="float: left; width: 15%">Admitted</div>{% endif %}
                        <div style="float: left; width: 15%">Rent</div>
                        <div style="float: left; width: 15%">Last&nbsp;increase</div>
                        <div style="float: left; width: 20%">Male&nbsp;/&nbsp;Female</div>
                        {% if resident['state'] is defined %}<div style="float: left; width: 15%">Status</div>{% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        {% if resident['ssn'] is defined %}<div style="float: left; width: 20%"><b style="font-size: 12px !important;">{% if resident['ssn'] %}{{ resident['ssn'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        {% if resident['startDate'] is defined %}<div style="float: left; width: 15%"><b style="font-size: 12px !important;">{% if resident['startDate'] %}{{ resident['startDate']|date("m/d/Y") }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        {% if resident['rents'] is defined %}
                            {% for rent in resident['rents'] %}
                                <div style="float: left; width: 15%"><b style="font-size: 12px !important;">{% if rent.amount is defined and rent.amount %}$&nbsp;{{ rent.amount|number_format(2, '.', ',') }}{% else %}$&nbsp;{{ 0|number_format(2, '.', ',') }}{% endif %}</b></div>
                                <div style="float: left; width: 15%"><b style="font-size: 12px !important;">{% if rent.start %}{{ rent.start|date("m/d/Y") }}{% endif %}</b></div>
                            {% endfor %}
                        {% else %}
                            <div style="float: left; width: 15%"><b style="font-size: 12px !important;">$&nbsp;{{ 0|number_format(2, '.', ',') }}</b></div>
                            <div style="float: left; width: 15%"><b style="font-size: 12px !important;">N/A</b></div>
                        {% endif %}
                        <div style="float: left; width: 20%"><b style="font-size: 12px !important;">{% if resident['gender'] == 1 %}Male{% elseif resident['gender'] == 2 %}Female{% endif %}</b></div>
                        {% if resident['state'] is defined %}<div style="float: left; width: 15%"><b style="font-size: 12px !important;">{{ admissionType(resident['state']) }}</b></div>{% endif %}
                    </td>
                </tr>
            </thead>
            <tbody>

            <tr>
                <td colspan="9" style=""><b style="font-size: 14px !important; margin-left: 20px;">Health Insurance</b></td>
            </tr>
            {% if resident['insurances'] is defined %}
                {% set v = 0 %}
                {% for insurance in resident['insurances'] %}
                    {% set v = v + 1 %}
                    {% if v == 1  %}
                        <tr style="">
                            <td colspan="9" style="font-size: 13px !important;">
                                <div style="float: left; width: 30% !important;">Company</div>
                                <div style="float: left; width: 20% !important;">Medical Record Number</div>
                                <div style="float: left; width: 15% !important;">GRP Number</div>
                                <div style="float: left; width: 35% !important;">Notes</div>
                            </td>
                        </tr>
                    {% endif %}
                    <tr style="">
                        <td colspan="9">
                            <div style="float: left; width: 30% !important;"><b style="font-size: 11px !important;">{% if insurance.company %}{{ insurance.company }}{% else %}N/A{% endif %}</b></div>
                            <div style="float: left; width: 20% !important;"><b style="font-size: 11px !important;">{% if insurance.medicalRecordNumber %}{{ insurance.medicalRecordNumber }}{% else %}N/A{% endif %}</b></div>
                            <div style="float: left; width: 15% !important;"><b style="font-size: 11px !important;">{% if insurance.groupNumber %}{{ insurance.groupNumber }}{% else %}N/A{% endif %}</b></div>
                            <div style="float: left; width: 35% !important;"><b style="font-size: 11px !important;">{% if insurance.notes %}{{ insurance.notes }}{% else %}N/A{% endif %}</b></div>
                        </td>
                    </tr>
                {% endfor %}
            {% else  %}
                <tr style="">
                    <td colspan="9" style="font-size: 13px !important; padding-left: 15px;">No&nbsp;Health&nbsp;Insurance</td>
                </tr>
            {% endif %}

            {% if resident['responsiblePersons'] is defined %}
                <tr class="dividerThird"><td colspan="9" style="width: 20px !important; border: none"></td></tr>
                {% set y = 0 %}
                {% for responsiblePerson in resident['responsiblePersons'] %}
                    {% if (responsiblePerson.emergency == false and responsiblePerson.financially == true)
                    or (responsiblePerson.emergency == true and responsiblePerson.financially == false)
                    or (responsiblePerson.emergency == true and responsiblePerson.financially == true) %}
                        {% set y = y + 1%}
                        {% if y > 1 %}
                            <tr class="dividerThird"><td colspan="9" style="width: 20px !important; border: none"></td></tr>
                        {% endif %}
                        <tr style="border-left: solid 1px darkgrey; border-top: solid 1px darkgray; border-right: solid 1px darkgray;">
                            <td colspan="9" style="border-left: none; border-top: none; border-bottom: none">
                                {% if responsiblePerson.emergency == false and responsiblePerson.financially == true %}<b style="font-size: 14px !important; margin-left: 20px; border-bottom: solid 1px darkgray">Billing</b>
                                {% elseif responsiblePerson.emergency == true and responsiblePerson.financially == false %}<b style="font-size: 14px !important; margin-left: 20px; border-bottom: solid 1px darkgray">Emergency</b>
                                {% elseif responsiblePerson.emergency == true and responsiblePerson.financially == true %}<b style="font-size: 14px !important; margin-left: 20px; border-bottom: solid 1px darkgray">Billing&nbsp;/&nbsp;Emergency</b>{% endif %}
                            </td>
                        </tr>
                        <tr style="border-left: solid 1px darkgray; border-right: solid 1px darkgray;">
                            <td colspan="9" style="border-left: none; border-top: none; border-bottom: solid 0.5px darkgray; font-size: 13px !important;">
                                <div style="float: left; width: 30%">Full&nbsp;name</div>
                                <div style="float: left; width: 20%">Relationship</div>
                                <div style="float: left; width: 25%">Primary&nbsp;phone</div>
                                <div style="float: left; width: 25%">Emergency&nbsp;phone</div>
                            </td>
                        </tr>
                        <tr style="border-left: solid 1px darkgray; border-right: solid 1px darkgray;">
                            <td colspan="9" style="border-left: none; border-top: none; border-bottom: none">
                                <div style="float: left; width: 30%"><b style="font-size: 12px !important;">{% if responsiblePerson.responsiblePersonFullName %}{{ responsiblePerson.responsiblePersonFullName }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 20%"><b style="font-size: 12px !important;">{% if responsiblePerson.relationshipTitle %}{{ responsiblePerson.relationshipTitle }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 25%"><b style="font-size: 10px !important;">
                                        {% set a = 0 %}
                                        {% for responsiblePersonPhone in data.responsiblePersonPhones %}
                                            {% if responsiblePersonPhone.rpId == responsiblePerson.rpId and responsiblePersonPhone.primary == true %}
                                                {% set a = a + 1 %}
                                                {{ responsiblePersonPhone.number }}{% if responsiblePersonPhone.extension %}&nbsp;ext:&nbsp;{{ responsiblePersonPhone.extension }}{% endif %}<br/>
                                            {% endif %}
                                        {% endfor %}
                                        {% if a == 0 %}N/A{% endif %}
                                    </b>
                                </div>
                                <div style="float: left; width: 25%"><b style="font-size: 10px !important;">
                                        {% set b = 0 %}
                                        {% for responsiblePersonPhone in data.responsiblePersonPhones %}
                                            {% if responsiblePersonPhone.rpId == responsiblePerson.rpId and responsiblePersonPhone.type == constant('App\\Model\\Phone::TYPE_EMERGENCY') %}
                                                {% set b = b + 1 %}
                                                {{ responsiblePersonPhone.number }}{% if responsiblePersonPhone.extension %}&nbsp;ext:&nbsp;{{ responsiblePersonPhone.extension }}{% endif %}<br/>
                                            {% endif %}
                                        {% endfor %}
                                        {% if b == 0 %}N/A{% endif %}
                                    </b>
                                </div>
                            </td>
                        </tr>
                        <tr style="border-right: solid 1px darkgray; border-left: solid 1px darkgray; border-bottom: solid 0.5px darkgray; font-size: 13px !important;">
                            <td colspan="9" style="font-size: 13px !important; border-left: none; border-top: none; border-bottom: none">
                                <div style="float: left; width: 50%">Address</div>
                                <div style="float: left; width: 30%">City</div>
                                <div style="float: left; width: 10%">State</div>
                                <div style="float: left; width: 10%">Zip</div>
                            </td>
                        </tr>
                        <tr style="border-left: solid 1px darkgray; border-right: solid 1px darkgray; border-bottom: solid 1px darkgray">
                            <td colspan="9" style="border-left: none; border-top: none; border-bottom: none">
                                <div style="float: left; width: 50%"><b style="font-size: 12px !important;">{% if responsiblePerson.address %}{{ responsiblePerson.address }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 30%"><b style="font-size: 12px !important;">{% if responsiblePerson.city %}{{ responsiblePerson.city }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 10%"><b style="font-size: 12px !important;">{% if responsiblePerson.state %}{{ responsiblePerson.state }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 10%"><b style="font-size: 12px !important;">{% if responsiblePerson.zip %}{{ responsiblePerson.zip }}{% else %}N/A{% endif %}</b></div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if resident['physicians'] is defined %}
                {% for physician in resident['physicians'] %}
                    <tr class="dividerThird"><td colspan="9" style="width: 20px !important; border: none"></td></tr>
                    <tr style="border-left: solid 1px darkgray; border-top: solid 1px darkgray; border-right: solid 1px darkgray;">
                        <td colspan="9" style="border-left: none; border-top: none; border-bottom: none;"><b style="font-size: 14px !important; margin-left: 20px; border-bottom: solid 1px darkgray;">Physician{% if physician.primary == true %}&nbsp;(Primary){% endif %}</b></td>
                    </tr>
                    <tr style="border-left: solid 1px darkgray; border-right: solid 1px darkgray;">
                        <td colspan="9" style="font-size: 13px !important; border-left: none; border-top: none; border-bottom: solid 0.5px darkgray">
                            <div style="float: left; width: 40%">Full&nbsp;name</div>
                            <div style="float: left; width: 20%">Work&nbsp;phone</div>
                            <div style="float: left; width: 20%">Emergency&nbsp;phone</div>
                            <div style="float: left; width: 20%">Fax&nbsp;phone</div>
                        </td>
                    </tr>
                    <tr style="border-left: solid 1px darkgray; border-right: solid 1px darkgray;">
                        <td colspan="9" style="border-left: none; border-top: none; border-bottom: none">
                            <div style="float: left; width: 40%"><b style="font-size: 12px !important;">{% if physician.firstName and physician.lastName %}{% if physician.salutation %}{{ physician.salutation }}&nbsp;{% endif %}{{ physician.firstName }}&nbsp;{{ physician.lastName }}{% else %}N/A{% endif %}</b></div>
                            <div style="float: left; width: 20%"><b style="font-size: 12px !important;">
                                    {% set c = 0 %}
                                    {% for physicianPhone in data.physicianPhones %}
                                        {% if physicianPhone.pId == physician.pId and physicianPhone.type == constant('App\\Model\\Phone::TYPE_OFFICE') %}
                                            {% set c = c + 1 %}
                                            {{ physicianPhone.number }}<br/>
                                        {% endif %}
                                    {% endfor %}
                                    {% if c == 0 %}N/A{% endif %}
                                </b>
                            </div>
                            <div style="float: left; width: 20%"><b style="font-size: 12px !important;">
                                    {% set d = 0 %}
                                    {% for physicianPhone in data.physicianPhones %}
                                        {% if physicianPhone.pId == physician.pId and physicianPhone.type == constant('App\\Model\\Phone::TYPE_EMERGENCY') %}
                                            {% set d = d + 1 %}
                                            {{ physicianPhone.number }}<br/>
                                        {% endif %}
                                    {% endfor %}
                                    {% if d == 0 %}N/A{% endif %}
                                </b>
                            </div>
                            <div style="float: left; width: 20%"><b style="font-size: 12px !important;">
                                    {% set f = 0 %}
                                    {% for physicianPhone in data.physicianPhones %}
                                        {% if physicianPhone.pId == physician.pId and physicianPhone.type == constant('App\\Model\\Phone::TYPE_FAX') %}
                                            {% set f = f + 1 %}
                                            {{ physicianPhone.number }}<br/>
                                        {% endif %}
                                    {% endfor %}
                                    {% if f == 0 %}N/A{% endif %}
                                </b>
                            </div>
                        </td>
                    </tr>
                    <tr style="border-left: solid 1px darkgray; border-right: solid 1px darkgray;">
                        <td colspan="9" style="font-size: 13px !important; border-left: none; border-top: none; border-bottom: solid 0.5px darkgray">
                            <div style="float: left; width: 50%">Address</div>
                            <div style="float: left; width: 30%">City</div>
                            <div style="float: left; width: 10%">State</div>
                            <div style="float: left; width: 10%">Zip</div>
                        </td>
                    </tr>
                    <tr style="border-left: solid 1px darkgray; border-right: solid 1px darkgray; border-bottom: solid 1px darkgray">
                        <td colspan="9" style="border-left: none; border-top: none; border-bottom: none">
                            <div style="float: left; width: 50%"><b style="font-size: 12px !important;">{% if physician.address %}{{ physician.address }}{% else %}N/A{% endif %}</b></div>
                            <div style="float: left; width: 30%"><b style="font-size: 12px !important;">{% if physician.city %}{{ physician.city }}{% else %}N/A{% endif %}</b></div>
                            <div style="float: left; width: 10%"><b style="font-size: 12px !important;">{% if physician.state %}{{ physician.state }}{% else %}N/A{% endif %}</b></div>
                            <div style="float: left; width: 10%"><b style="font-size: 12px !important;">{% if physician.zip %}{{ physician.zip }}{% else %}N/A{% endif %}</b></div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            <tr class="dividerThird"><td colspan="9" style="width: 20px !important; border: none"></td></tr>
            <tr style="">
                <td colspan="9" style=""><b style="font-size: 14px !important; margin-left: 20px;">Diagnosis</b></td>
            </tr>
            <tr style="">
                <td colspan="9" style="font-size: 13px !important;">
                    <div style="float: left; width: 50%">Primary&nbsp;Diagnosis</div>
                    <div style="float: left; width: 50%">Secondary&nbsp;Diagnosis</div>
                </td>
            </tr>
            <tr style="">
                <td colspan="9" style="font-size: 12px !important;">
                    <div style="float: left; width: 50%">
                        {% if resident['diagnosis'] is defined %}
                            {% set g = 0 %}
                            {% for diagnosis in resident['diagnosis'] %}
                                {% if diagnosis.diagnosisType == constant('App\\Model\\DiagnosisType::PRIMARY') %}
                                    {% set g = g + 1 %}
                                    <b>{{ diagnosis.diagnosisTitle }}</b><br/>
                                {% endif %}
                            {% endfor %}
                            {% if g == 0 %}
                                No&nbsp;Primary&nbsp;Diagnosis
                            {% endif %}
                        {% else %}
                            No&nbsp;Primary&nbsp;Diagnosis
                        {% endif %}
                    </div>
                    <div style="float: left; width: 50%">
                        {% if resident['diagnosis'] is defined %}
                            {% set h = 0 %}
                            {% for diagnosis in resident['diagnosis'] %}
                                {% if diagnosis.diagnosisType == constant('App\\Model\\DiagnosisType::SECONDARY') %}
                                    {% set h = h + 1 %}
                                    <b>{{ diagnosis.diagnosisTitle }}</b><br/>
                                {% endif %}
                            {% endfor %}
                            {% if h == 0 %}
                                No&nbsp;Secondary&nbsp;Diagnosis
                            {% endif %}
                        {% else %}
                            No&nbsp;Secondary&nbsp;Diagnosis
                        {% endif %}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="page">
        </div>
        <table class="report-table main-table bordered">
            <thead>
                <tr>
                    <th colspan="9">
                        <div style="float: right">
                            {% if resident['dnr'] is defined %}
                                <p style="font-size: 16px !important; margin: 0;"><b>DNR&nbsp;on&nbsp;file:&nbsp;{% if resident['dnr'] == true %}Yes{% else %}No{% endif %}</b></p>
                            {% endif %}
                            {% if resident['polst'] is defined %}
                                <p style="font-size: 16px !important; margin: 0;"><b>POLST&nbsp;on&nbsp;file:&nbsp;{% if resident['polst'] == true %}Yes{% else %}No{% endif %}</b></p>
                            {% endif %}
                        </div>
                        <div style="float: left; width: 400px !important;">
                            <div style="height: 5px;"></div>
                            <p style="font-size: 20px !important; margin: 0;">RESIDENT PROFILE</p>
                            <p style="font-size: 12px !important;margin: 0;">{% if resident['typeName'] is defined %}{{ resident['typeName'] }}&nbsp;{% endif %}
                                {% if resident['address'] is defined and resident['address'] %}Address:&nbsp;{{ resident['address'] }}{% endif %}
                            </p>
                            <p style="font-size: 11px !important; margin: 0;">
                                {% if resident['typePhone'] is defined and resident['typePhone'] %}Phone:&nbsp;{{ resident['typePhone'] }}{% endif %}
                                {% if resident['typeFax'] is defined and resident['typeFax'] %}Fax:&nbsp;{{ resident['typeFax'] }}{% endif %}
                                {% if resident['license'] is defined and resident['license'] %}License:&nbsp;#{{ resident['license'] }}{% endif %}
                                {% if resident['city'] is defined and resident['city'] %}{{ resident['city'] }}&nbsp;{{ resident['state'] }}&nbsp;{{ resident['zip'] }}{% endif %}
                            </p>
                        </div>
                        <div style="clear: both"></div>
                    </th>
                </tr>
                <tr>
                    <td colspan="9" style="border-bottom: solid 0.5px darkgray; font-size: 13px !important;">
                        {% if resident['bedNumber'] is defined and resident['bedNumber'] %}<div style="float: left; width: 11%">Bed</div>{% endif %}
                        <div style="float: left; width: 28%">Full&nbsp;name</div>
                        {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 16%">Birthday</div>{% endif %}
                        {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 6%">Age</div>{% endif %}
                        {% if resident['floor'] is defined and resident['floor'] %}<div style="float: left; width: 10%">Floor</div>{% endif %}
                        {% if resident['careGroup'] is defined %}<div style="float: left; width: 12%">Group</div>{% endif %}
                        {% if resident['careLevel'] is defined %}<div style="float: left; width: 17%">Care&nbsp;level</div>{% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        {% if resident['bedNumber'] is defined and resident['bedNumber'] %}<div style="float: left; width: 11%"><b style="font-size: 12px !important;">{% if resident['roomNumber'] %}{{ resident['roomNumber'] }}&nbsp;{% endif %}{% if resident['bedNumber'] %}{{ resident['bedNumber'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        <div style="float: left; width: 28%"><b style="font-size: 12px !important;">{% if resident['firstName'] %}{{ resident['firstName'] }}{% if resident['lastName'] %}&nbsp;{{ resident['lastName'] }}{% endif %}{% else %}N/A{% endif %}</b></div>
                        {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 16%"><b style="font-size: 12px !important;">{% if resident['birthday'] %}{{ resident['birthday']|date("m/d/Y") }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 6%"><b style="font-size: 12px !important;">{% if resident['birthday'] %}{{ age(resident['birthday']|date("m/d/Y")) }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        {% if resident.floor is defined and resident.floor %}<div style="float: left; width: 10%"><b style="font-size: 12px !important;">{% if resident.floor %}{{ resident.floor }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        {% if resident['careGroup'] is defined %}<div style="float: left; width: 12%"><b style="font-size: 12px !important;">{% if resident['careGroup'] %}{{ resident['careGroup'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        {% if resident['careLevel'] is defined %}<div style="float: left; width: 17%"><b style="font-size: 12px !important;">{% if resident['careLevel'] %}{{ resident['careLevel'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="9" style="border-bottom: solid 0.5px darkgray; font-size: 13px !important;">
                        {% if resident['ssn'] is defined %}<div style="float: left; width: 20%">Social&nbsp;Security&nbsp;#</div>{% endif %}
                        {% if resident['startDate'] is defined %}<div style="float: left; width: 15%">Admitted</div>{% endif %}
                        <div style="float: left; width: 15%">Rent</div>
                        <div style="float: left; width: 15%">Last&nbsp;increase</div>
                        <div style="float: left; width: 20%">Male&nbsp;/&nbsp;Female</div>
                        {% if resident['state'] is defined %}<div style="float: left; width: 15%">Status</div>{% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        {% if resident['ssn'] is defined %}<div style="float: left; width: 20%"><b style="font-size: 12px !important;">{% if resident['ssn'] %}{{ resident['ssn'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        {% if resident['startDate'] is defined %}<div style="float: left; width: 15%"><b style="font-size: 12px !important;">{% if resident['startDate'] %}{{ resident['startDate']|date("m/d/Y") }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        {% if resident['rents'] is defined %}
                            {% for rent in resident['rents'] %}
                                <div style="float: left; width: 15%"><b style="font-size: 12px !important;">{% if rent.amount is defined and rent.amount %}$&nbsp;{{ rent.amount|number_format(2, '.', ',') }}{% else %}$&nbsp;{{ 0|number_format(2, '.', ',') }}{% endif %}</b></div>
                                <div style="float: left; width: 15%"><b style="font-size: 12px !important;">{% if rent.start %}{{ rent.start|date("m/d/Y") }}{% endif %}</b></div>
                            {% endfor %}
                        {% else %}
                            <div style="float: left; width: 15%"><b style="font-size: 12px !important;">$&nbsp;{{ 0|number_format(2, '.', ',') }}</b></div>
                            <div style="float: left; width: 15%"><b style="font-size: 12px !important;">N/A</b></div>
                        {% endif %}
                        <div style="float: left; width: 20%"><b style="font-size: 12px !important;">{% if resident['gender'] == 1 %}Male{% elseif resident['gender'] == 2 %}Female{% endif %}</b></div>
                        {% if resident['state'] is defined %}<div style="float: left; width: 15%"><b style="font-size: 12px !important;">{{ admissionType(resident['state']) }}</b></div>{% endif %}
                    </td>
                </tr>
                <tr class="dividerSecond">
                    <td colspan="9" style="width: 20px !important; border: none"></td>
                </tr>
            </thead>
            <tbody>
            <tr style="">
                <td colspan="9" style=""><b style="font-size: 14px !important; margin-left: 20px;">Active Medications</b></td>
            </tr>
            {% if resident['medications'] is defined %}
                {% if resident.medications.active is defined %}
                    {% set k = 0 %}
                    {% for medication in resident.medications.active %}
                        {% set k = k + 1 %}
                        {% set z = 20 %}

                        {% if k == z or k == z * 2 or k == z * 3 %}
                            </tbody>
                            </table>

                            <div class="page">
                            </div>
                            <table class="report-table main-table bordered">
                            <thead>
                                <tr>
                                    <th colspan="9">
                                        <div style="float: right">
                                            {% if resident['dnr'] is defined %}
                                                <p style="font-size: 16px !important; margin: 0;"><b>DNR&nbsp;on&nbsp;file:&nbsp;{% if resident['dnr'] == true %}Yes{% else %}No{% endif %}</b></p>
                                            {% endif %}
                                            {% if resident['polst'] is defined %}
                                                <p style="font-size: 16px !important; margin: 0;"><b>POLST&nbsp;on&nbsp;file:&nbsp;{% if resident['polst'] == true %}Yes{% else %}No{% endif %}</b></p>
                                            {% endif %}
                                        </div>
                                        <div style="float: left; width: 400px !important;">
                                            <div style="height: 5px;"></div>
                                            <p style="font-size: 20px !important; margin: 0;">RESIDENT PROFILE</p>
                                            <p style="font-size: 12px !important;margin: 0;">{% if resident['typeName'] is defined %}{{ resident['typeName'] }}&nbsp;{% endif %}
                                                {% if resident['address'] is defined and resident['address'] %}Address:&nbsp;{{ resident['address'] }}{% endif %}
                                            </p>
                                            <p style="font-size: 11px !important; margin: 0;">
                                                {% if resident['typePhone'] is defined and resident['typePhone'] %}Phone:&nbsp;{{ resident['typePhone'] }}{% endif %}
                                                {% if resident['typeFax'] is defined and resident['typeFax'] %}Fax:&nbsp;{{ resident['typeFax'] }}{% endif %}
                                                {% if resident['license'] is defined and resident['license'] %}License:&nbsp;#{{ resident['license'] }}{% endif %}
                                                {% if resident['city'] is defined and resident['city'] %}{{ resident['city'] }}&nbsp;{{ resident['state'] }}&nbsp;{{ resident['zip'] }}{% endif %}
                                            </p>
                                        </div>
                                        <div style="clear: both"></div>
                                    </th>
                                </tr>
                                <tr>
                                    <td colspan="9" style="border-bottom: solid 0.5px darkgray; font-size: 13px !important;">
                                        {% if resident['bedNumber'] is defined and resident['bedNumber'] %}<div style="float: left; width: 11%">Bed</div>{% endif %}
                                        <div style="float: left; width: 28%">Full&nbsp;name</div>
                                        {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 16%">Birthday</div>{% endif %}
                                        {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 6%">Age</div>{% endif %}
                                        {% if resident['floor'] is defined and resident['floor'] %}<div style="float: left; width: 10%">Floor</div>{% endif %}
                                        {% if resident['careGroup'] is defined %}<div style="float: left; width: 12%">Group</div>{% endif %}
                                        {% if resident['careLevel'] is defined %}<div style="float: left; width: 17%">Care&nbsp;level</div>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9">
                                        {% if resident['bedNumber'] is defined and resident['bedNumber'] %}<div style="float: left; width: 11%"><b style="font-size: 12px !important;">{% if resident['roomNumber'] %}{{ resident['roomNumber'] }}&nbsp;{% endif %}{% if resident['bedNumber'] %}{{ resident['bedNumber'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                                        <div style="float: left; width: 28%"><b style="font-size: 12px !important;">{% if resident['firstName'] %}{{ resident['firstName'] }}{% if resident['lastName'] %}&nbsp;{{ resident['lastName'] }}{% endif %}{% else %}N/A{% endif %}</b></div>
                                        {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 16%"><b style="font-size: 12px !important;">{% if resident['birthday'] %}{{ resident['birthday']|date("m/d/Y") }}{% else %}N/A{% endif %}</b></div>{% endif %}
                                        {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 6%"><b style="font-size: 12px !important;">{% if resident['birthday'] %}{{ age(resident['birthday']|date("m/d/Y")) }}{% else %}N/A{% endif %}</b></div>{% endif %}
                                        {% if resident.floor is defined and resident.floor %}<div style="float: left; width: 10%"><b style="font-size: 12px !important;">{% if resident.floor %}{{ resident.floor }}{% else %}N/A{% endif %}</b></div>{% endif %}
                                        {% if resident['careGroup'] is defined %}<div style="float: left; width: 12%"><b style="font-size: 12px !important;">{% if resident['careGroup'] %}{{ resident['careGroup'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                                        {% if resident['careLevel'] is defined %}<div style="float: left; width: 17%"><b style="font-size: 12px !important;">{% if resident['careLevel'] %}{{ resident['careLevel'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9" style="border-bottom: solid 0.5px darkgray; font-size: 13px !important;">
                                        {% if resident['ssn'] is defined %}<div style="float: left; width: 20%">Social&nbsp;Security&nbsp;#</div>{% endif %}
                                        {% if resident['startDate'] is defined %}<div style="float: left; width: 15%">Admitted</div>{% endif %}
                                        <div style="float: left; width: 15%">Rent</div>
                                        <div style="float: left; width: 15%">Last&nbsp;increase</div>
                                        <div style="float: left; width: 20%">Male&nbsp;/&nbsp;Female</div>
                                        {% if resident['state'] is defined %}<div style="float: left; width: 15%">Status</div>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9">
                                        {% if resident['ssn'] is defined %}<div style="float: left; width: 20%"><b style="font-size: 12px !important;">{% if resident['ssn'] %}{{ resident['ssn'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                                        {% if resident['startDate'] is defined %}<div style="float: left; width: 15%"><b style="font-size: 12px !important;">{% if resident['startDate'] %}{{ resident['startDate']|date("m/d/Y") }}{% else %}N/A{% endif %}</b></div>{% endif %}
                                        {% if resident['rents'] is defined %}
                                            {% for rent in resident['rents'] %}
                                                <div style="float: left; width: 15%"><b style="font-size: 12px !important;">{% if rent.amount is defined and rent.amount %}$&nbsp;{{ rent.amount|number_format(2, '.', ',') }}{% else %}$&nbsp;{{ 0|number_format(2, '.', ',') }}{% endif %}</b></div>
                                                <div style="float: left; width: 15%"><b style="font-size: 12px !important;">{% if rent.start %}{{ rent.start|date("m/d/Y") }}{% endif %}</b></div>
                                            {% endfor %}
                                        {% else %}
                                            <div style="float: left; width: 15%"><b style="font-size: 12px !important;">$&nbsp;{{ 0|number_format(2, '.', ',') }}</b></div>
                                            <div style="float: left; width: 15%"><b style="font-size: 12px !important;">N/A</b></div>
                                        {% endif %}
                                        <div style="float: left; width: 20%"><b style="font-size: 12px !important;">{% if resident['gender'] == 1 %}Male{% elseif resident['gender'] == 2 %}Female{% endif %}</b></div>
                                        {% if resident['state'] is defined %}<div style="float: left; width: 15%"><b style="font-size: 12px !important;">{{ admissionType(resident['state']) }}</b></div>{% endif %}
                                    </td>
                                </tr>
                                <tr class="dividerSecond">
                                    <td colspan="9" style="width: 20px !important; border: none"></td>
                                </tr>
                            </thead>
                            <tbody>
                        {% endif %}
                        {% if k == 1 or k == z or k == z * 2 or k == z * 3 %}
                            <tr style="">
                                <td colspan="9" style="font-size: 12px !important;">
                                    <div style="float: left; width: 20% !important;">Medication</div>
                                    <div style="float: left; width: 4% !important;">AM</div>
                                    <div style="float: left; width: 4% !important;">NN</div>
                                    <div style="float: left; width: 4% !important;">PM</div>
                                    <div style="float: left; width: 4% !important;">HS</div>
                                    <div style="float: left; width: 4% !important;">PRN</div>
                                    <div style="float: left; width: 16% !important;">QTY</div>
                                    <div style="float: left; width: 4% !important;">DC</div>
                                    <div style="float: left; width: 4% !important;">TR</div>
                                    <div style="float: left; width: 36% !important;">Instructions</div>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="9">
                                <div style="float: left; width: 20% !important;"><b style="font-size: 10px !important;">{% if medication.medication %}{{ medication.medication }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationAm %}{{ medication.medicationAm }}{% else %}0{% endif %}</b></div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationNn %}{{ medication.medicationNn }}{% else %}0{% endif %}</b></div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationPm %}{{ medication.medicationPm }}{% else %}0{% endif %}</b></div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationHs %}{{ medication.medicationHs }}{% else %}0{% endif %}</b></div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationPrn %}Yes{% else %}No{% endif %}</b></div>
                                <div style="float: left; width: 16% !important;">
                                    <b style="font-size: 10px !important;">
                                        {% if medication.dosage or medication.dosageUnit %}
                                            {% if medication.dosage %}{{ medication.dosage }}&nbsp;{% endif %}{% if medication.dosageUnit %}{{ medication.dosageUnit }}{% endif %}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </b>
                                </div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationDiscont %}Yes{% else %}No{% endif %}</b></div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationTreatment %}Yes{% else %}No{% endif %}</b></div>
                                <div style="float: left; width: 36% !important;"><b style="font-size: 9px !important;">{% if medication.notes %}{{ medication.notes }}{% else %}N/A{% endif %}</b></div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if data.discontinued and resident.medications.discontinued is defined %}
                    <tr class="divider"></tr>
                    <tr class="divider"></tr>
                    {% set g = 0 %}
                    {% for medication in resident.medications.discontinued %}
                        {% set g = g + 1 %}
                        {% if g == 1  %}
                            <tr style="">
                                <td colspan="9" style=""><b style="font-size: 14px !important; margin-left: 20px;">Discontinued Medications</b></td>
                            </tr>
                            <tr style="">
                                <td colspan="9" style="font-size: 12px !important;">
                                    <div style="float: left; width: 20% !important;">Medication</div>
                                    <div style="float: left; width: 4% !important;">AM</div>
                                    <div style="float: left; width: 4% !important;">NN</div>
                                    <div style="float: left; width: 4% !important;">PM</div>
                                    <div style="float: left; width: 4% !important;">HS</div>
                                    <div style="float: left; width: 4% !important;">PRN</div>
                                    <div style="float: left; width: 16% !important;">QTY</div>
                                    <div style="float: left; width: 4% !important;">DC</div>
                                    <div style="float: left; width: 4% !important;">TR</div>
                                    <div style="float: left; width: 36% !important;">Instructions</div>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="9">
                                <div style="float: left; width: 20% !important;"><b style="font-size: 10px !important;">{% if medication.medication %}{{ medication.medication }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationAm %}{{ medication.medicationAm }}{% else %}0{% endif %}</b></div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationNn %}{{ medication.medicationNn }}{% else %}0{% endif %}</b></div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationPm %}{{ medication.medicationPm }}{% else %}0{% endif %}</b></div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationHs %}{{ medication.medicationHs }}{% else %}0{% endif %}</b></div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationPrn %}Yes{% else %}No{% endif %}</b></div>
                                <div style="float: left; width: 16% !important;">
                                    <b style="font-size: 10px !important;">
                                        {% if medication.dosage or medication.dosageUnit %}
                                            {% if medication.dosage %}{{ medication.dosage }}&nbsp;{% endif %}{% if medication.dosageUnit %}{{ medication.dosageUnit }}{% endif %}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </b>
                                </div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationDiscont %}Yes{% else %}No{% endif %}</b></div>
                                <div style="float: left; width: 4% !important;"><b style="font-size: 10px !important;">{% if medication.medicationTreatment %}Yes{% else %}No{% endif %}</b></div>
                                <div style="float: left; width: 36% !important;"><b style="font-size: 9px !important;">{% if medication.notes %}{{ medication.notes }}{% else %}N/A{% endif %}</b></div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% else  %}
                <tr style="">
                    <td colspan="9" style="font-size: 13px !important; padding-left: 15px;">No&nbsp;Medications</td>
                </tr>
            {% endif %}

            <tr class="dividerThird"><td colspan="9" style="width: 20px !important; border: none"></td></tr>
            <tr style="">
                <td colspan="9" style=""><b style="font-size: 14px !important; margin-left: 20px;">Admissions</b></td>
            </tr>
            {% if resident['admissions'] is defined %}
                {% set s = 0 %}
                {% for admission in resident['admissions'] %}
                    {% set s = s + 1 %}
                    {% if s == 1  %}
                        <tr style="">
                            <td colspan="9" style="font-size: 13px !important;">
                                <div style="float: left; width: 11% !important;">Date</div>
                                <div style="float: left; width: 20% !important;">Admission&nbsp;type</div>
                                <div style="float: left; width: 35% !important;">Value</div>
                                <div style="float: left; width: 34% !important;">Note</div>
                            </td>
                        </tr>
                    {% endif %}
                    <tr style="">
                        <td colspan="9">
                            <div style="float: left; width: 11% !important;"><b style="font-size: 11px !important;">{% if admission.admitted %}{{ admission.admitted|date('m/d/Y') }}{% else %}N/A{% endif %}</b></div>
                            <div style="float: left; width: 20% !important;"><b style="font-size: 11px !important;">{% if admission.admissionType %}{{ admissionType(admission.admissionType) }}{% else %}N/A{% endif %}</b></div>
                            <div style="float: left; width: 35% !important;">
                                <b style="font-size: 11px !important;">
                                    {% if admission.typeName is defined %}{{ data.strategy }}&nbsp;:&nbsp;{{ admission.typeName }}{% endif %}
                                    {% if admission['bedNumber'] is defined %}
                                        <br>
                                        Room/Bed&nbsp;:&nbsp;{% if admission['roomNumber'] %}{{ admission['roomNumber'] }}&nbsp;{% endif %}{% if admission['bedNumber'] %}{{ admission['bedNumber'] }}{% else %}N/A{% endif %}
                                    {% endif %}
                                </b>
                            </div>
                            <div style="float: left; width: 34% !important;"><b style="font-size: 11px !important;">{% if admission.notes %}{{ admission.notes }}{% else %}N/A{% endif %}</b></div>
                        </td>
                    </tr>
                {% endfor %}
            {% else  %}
                <tr style="">
                    <td colspan="9" style="font-size: 13px !important; padding-left: 15px;">No&nbsp;Admissions</td>
                </tr>
            {% endif %}

            <tr class="dividerThird"><td colspan="9" style="width: 20px !important; border: none"></td></tr>
            <tr style="">
                <td colspan="9" style=""><b style="font-size: 14px !important; margin-left: 20px;">Events</b></td>
            </tr>
            {% if resident['events'] is defined %}
                {% set n = 0 %}
                {% for event in resident['events'] %}
                    {% set n = n + 1 %}
                    {% if n == 1  %}
                        <tr style="">
                            <td colspan="9" style="font-size: 13px !important;">
                                <div style="float: left; width: 11% !important;">Date</div>
                                <div style="float: left; width: 20% !important;">Event&nbsp;type</div>
                                <div style="float: left; width: 35% !important;">Value</div>
                                <div style="float: left; width: 34% !important;">Note</div>
                            </td>
                        </tr>
                    {% endif %}
                    <tr style="">
                        <td colspan="9">
                            <div style="float: left; width: 11% !important;"><b style="font-size: 11px !important;">{% if event.date %}{{ event.date|date('m/d/Y') }}{% else %}N/A{% endif %}</b></div>
                            <div style="float: left; width: 20% !important;"><b style="font-size: 11px !important;">{% if event.title %}{{ event.title }}{% else %}N/A{% endif %}</b></div>
                            <div style="float: left; width: 35% !important;">
                                <b style="font-size: 11px !important;">
                                    {% if event.physicianFullName %}Physician&nbsp;:&nbsp;{% if event.physicianSalutation %}{{ event.physicianSalutation }}&nbsp;{% endif %}{{ event.physicianFullName }}{% endif %}
                                    {% if event.responsiblePersons|length > 0 %}
                                        {% for responsiblePerson in event.responsiblePersons %}
                                            {% if responsiblePerson.fullName %}
                                                {% if loop.first %}ResponsiblePersons&nbsp;:<br>{% endif %}
                                                {% if responsiblePerson.salutation %}{{ responsiblePerson.salutation }}&nbsp;{% endif %}{{ responsiblePerson.fullName }}{% if not loop.last %}<br>{% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if event.additionalDate %}Discharge&nbsp;Date&nbsp;:&nbsp;{{ event.additionalDate|date('m/d/Y') }}{% endif %}
                                    {% if not event.physicianFullName and event.responsiblePersons|length < 1 and not event.additionalDate %}N/A{% endif %}
                                </b>
                            </div>
                            <div style="float: left; width: 34% !important;"><b style="font-size: 11px !important;">{% if event.notes %}{{ event.notes }}{% else %}N/A{% endif %}</b></div>
                        </td>
                    </tr>
                {% endfor %}
            {% else  %}
                <tr style="">
                    <td colspan="9" style="font-size: 13px !important; padding-left: 15px;">No&nbsp;Events</td>
                </tr>
            {% endif %}

            <tr class="dividerThird"><td colspan="9" style="width: 20px !important; border: none"></td></tr>
            <tr style="">
                <td colspan="9" style=""><b style="font-size: 14px !important; margin-left: 20px;">Allergens</b></td>
            </tr>
            {% if resident['allergens'] is defined %}
                {% set l = 0 %}
                {% for allergen in resident['allergens'] %}
                    {% set l = l + 1 %}
                    {% if l == 1  %}
                        <tr style="">
                            <td colspan="9" style="font-size: 13px !important;">
                                <div style="float: left; width: 40% !important;">Medical&nbsp;allergens</div>
                                <div style="float: left; width: 60% !important;">Description</div>
                            </td>
                        </tr>
                    {% endif %}
                    <tr style="">
                        <td colspan="9">
                            <div style="float: left; width: 40% !important;"><b style="font-size: 12px !important;">{% if allergen.title %}{{ allergen.title }}{% else %}N/A{% endif %}</b></div>
                            <div style="float: left; width: 60% !important;"><b style="font-size: 12px !important;">{% if allergen.description %}{{ allergen.description }}{% else %}N/A{% endif %}</b></div>
                        </td>
                    </tr>
                {% endfor %}
            {% else  %}
                <tr style="">
                    <td colspan="9" style="font-size: 13px !important; padding-left: 15px;">No&nbsp;Allergens</td>
                </tr>
            {% endif %}

            <tr class="dividerThird"><td colspan="9" style="width: 20px !important; border: none"></td></tr>
            <tr style="">
                <td colspan="9" style=""><b style="font-size: 14px !important; margin-left: 20px;">Active Prescriptions</b></td>
            </tr>
            {% if resident['medications'] is defined %}
                {% if resident.medications.active is defined %}
                    {% set m = 0 %}
                    {% for medication in resident.medications.active %}
                        {% set m = m + 1 %}
                        {% if m == 1  %}
                            <tr style="">
                                <td colspan="9" style="font-size: 13px !important;">
                                    <div style="float: left; width: 40% !important;">Medication</div>
                                    <div style="float: left; width: 20% !important;">Dosage</div>
                                    <div style="float: left; width: 20% !important;">Prescription#</div>
                                    <div style="float: left; width: 20% !important;">Physician</div>
                                </td>
                            </tr>
                        {% endif %}
                        <tr style="">
                            <td colspan="9">
                                <div style="float: left; width: 40% !important;"><b style="font-size: 12px !important;">{% if medication.medication %}{{ medication.medication }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 20% !important;">
                                    <b style="font-size: 12px !important;">
                                        {% if medication.dosage or medication.dosageUnit %}
                                            {% if medication.dosage %}{{ medication.dosage }}&nbsp;{% endif %}{% if medication.dosageUnit %}{{ medication.dosageUnit }}{% endif %}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </b>
                                </div>
                                <div style="float: left; width: 20% !important;"><b style="font-size: 12px !important;">{% if medication.prescriptionNumber %}{{ medication.prescriptionNumber }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 20% !important;">
                                    <b style="font-size: 12px !important;">
                                        {% if medication.physicianFirstName or medication.physicianLastName %}
                                            Dr.{% if medication.physicianFirstName %}&nbsp;{{ medication.physicianFirstName }}{% endif %}{% if medication.physicianLastName %}&nbsp;{{ medication.physicianLastName }}{% endif %}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </b>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if data.discontinued and resident.medications.discontinued is defined %}
                    <tr class="divider"></tr>
                    <tr class="divider"></tr>
                    {% set h = 0 %}
                    {% for medication in resident.medications.discontinued %}
                        {% set h = h + 1 %}
                        {% if h == 1  %}
                            <tr style="">
                                <td colspan="9" style=""><b style="font-size: 14px !important; margin-left: 20px;">Discontinued Prescriptions</b></td>
                            </tr>
                            <tr style="">
                                <td colspan="9" style="font-size: 13px !important;">
                                    <div style="float: left; width: 40% !important;">Medication</div>
                                    <div style="float: left; width: 20% !important;">Dosage</div>
                                    <div style="float: left; width: 20% !important;">Prescription#</div>
                                    <div style="float: left; width: 20% !important;">Physician</div>
                                </td>
                            </tr>
                        {% endif %}
                        <tr style="">
                            <td colspan="9">
                                <div style="float: left; width: 40% !important;"><b style="font-size: 12px !important;">{% if medication.medication %}{{ medication.medication }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 20% !important;">
                                    <b style="font-size: 12px !important;">
                                        {% if medication.dosage or medication.dosageUnit %}
                                            {% if medication.dosage %}{{ medication.dosage }}&nbsp;{% endif %}{% if medication.dosageUnit %}{{ medication.dosageUnit }}{% endif %}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </b>
                                </div>
                                <div style="float: left; width: 20% !important;"><b style="font-size: 12px !important;">{% if medication.prescriptionNumber %}{{ medication.prescriptionNumber }}{% else %}N/A{% endif %}</b></div>
                                <div style="float: left; width: 20% !important;">
                                    <b style="font-size: 12px !important;">
                                        {% if medication.physicianFirstName or medication.physicianLastName %}
                                            Dr.{% if medication.physicianFirstName %}&nbsp;{{ medication.physicianFirstName }}{% endif %}{% if medication.physicianLastName %}&nbsp;{{ medication.physicianLastName }}{% endif %}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </b>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% else %}
                <tr style="">
                    <td colspan="9" style="font-size: 13px !important; padding-left: 15px;">No&nbsp;Prescriptions</td>
                </tr>
            {% endif %}
            </tbody>
        </table>

        {% if data.insuranceFiles[residentId] is defined %}
            {% for insuranceFile in data.insuranceFiles[residentId] %}
                <div class="page">
                </div>
                <table class="report-table main-table">
                    <thead>
                    <tr>
                        <th colspan="9">
                            <div style="float: right">
                                {% if resident['dnr'] is defined %}
                                    <p style="font-size: 16px !important; margin: 0;"><b>DNR&nbsp;on&nbsp;file:&nbsp;{% if resident['dnr'] == true %}Yes{% else %}No{% endif %}</b></p>
                                {% endif %}
                                {% if resident['polst'] is defined %}
                                    <p style="font-size: 16px !important; margin: 0;"><b>POLST&nbsp;on&nbsp;file:&nbsp;{% if resident['polst'] == true %}Yes{% else %}No{% endif %}</b></p>
                                {% endif %}
                            </div>
                            <div style="float: left; width: 400px !important;">
                                <div style="height: 5px;"></div>
                                <p style="font-size: 20px !important; margin: 0;">RESIDENT PROFILE</p>
                                <p style="font-size: 12px !important;margin: 0;">{% if resident['typeName'] is defined %}{{ resident['typeName'] }}&nbsp;{% endif %}
                                    {% if resident['address'] is defined and resident['address'] %}Address:&nbsp;{{ resident['address'] }}{% endif %}
                                </p>
                                <p style="font-size: 11px !important; margin: 0;">
                                    {% if resident['typePhone'] is defined and resident['typePhone'] %}Phone:&nbsp;{{ resident['typePhone'] }}{% endif %}
                                    {% if resident['typeFax'] is defined and resident['typeFax'] %}Fax:&nbsp;{{ resident['typeFax'] }}{% endif %}
                                    {% if resident['license'] is defined and resident['license'] %}License:&nbsp;#{{ resident['license'] }}{% endif %}
                                    {% if resident['city'] is defined and resident['city'] %}{{ resident['city'] }}&nbsp;{{ resident['state'] }}&nbsp;{{ resident['zip'] }}{% endif %}
                                </p>
                            </div>
                            <div style="clear: both"></div>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="9" style="border-bottom: solid 0.5px darkgray; font-size: 13px !important;">
                            {% if resident['bedNumber'] is defined and resident['bedNumber'] %}<div style="float: left; width: 11%">Bed</div>{% endif %}
                            <div style="float: left; width: 28%">Full&nbsp;name</div>
                            {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 16%">Birthday</div>{% endif %}
                            {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 6%">Age</div>{% endif %}
                            {% if resident['floor'] is defined and resident['floor'] %}<div style="float: left; width: 10%">Floor</div>{% endif %}
                            {% if resident['careGroup'] is defined %}<div style="float: left; width: 12%">Group</div>{% endif %}
                            {% if resident['careLevel'] is defined %}<div style="float: left; width: 17%">Care&nbsp;level</div>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            {% if resident['bedNumber'] is defined and resident['bedNumber'] %}<div style="float: left; width: 11%"><b style="font-size: 12px !important;">{% if resident['roomNumber'] %}{{ resident['roomNumber'] }}&nbsp;{% endif %}{% if resident['bedNumber'] %}{{ resident['bedNumber'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                            <div style="float: left; width: 28%"><b style="font-size: 12px !important;">{% if resident['firstName'] %}{{ resident['firstName'] }}{% if resident['lastName'] %}&nbsp;{{ resident['lastName'] }}{% endif %}{% else %}N/A{% endif %}</b></div>
                            {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 16%"><b style="font-size: 12px !important;">{% if resident['birthday'] %}{{ resident['birthday']|date("m/d/Y") }}{% else %}N/A{% endif %}</b></div>{% endif %}
                            {% if resident['birthday'] is defined and resident['birthday'] %}<div style="float: left; width: 6%"><b style="font-size: 12px !important;">{% if resident['birthday'] %}{{ age(resident['birthday']|date("m/d/Y")) }}{% else %}N/A{% endif %}</b></div>{% endif %}
                            {% if resident.floor is defined and resident.floor %}<div style="float: left; width: 10%"><b style="font-size: 12px !important;">{% if resident.floor %}{{ resident.floor }}{% else %}N/A{% endif %}</b></div>{% endif %}
                            {% if resident['careGroup'] is defined %}<div style="float: left; width: 12%"><b style="font-size: 12px !important;">{% if resident['careGroup'] %}{{ resident['careGroup'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                            {% if resident['careLevel'] is defined %}<div style="float: left; width: 17%"><b style="font-size: 12px !important;">{% if resident['careLevel'] %}{{ resident['careLevel'] }}{% else %}N/A{% endif %}</b></div>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9" style="border-bottom: solid 0.5px darkgray; font-size: 13px !important;">
                            {% if resident['startDate'] is defined %}<div style="float: left; width: 20%">Admitted</div>{% endif %}
                            <div style="float: left; width: 20%">Rent</div>
                            <div style="float: left; width: 20%">Last&nbsp;increase</div>
                            <div style="float: left; width: 20%">Male&nbsp;/&nbsp;Female</div>
                            {% if resident['state'] is defined %}<div style="float: left; width: 20%">Status</div>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            {% if resident['startDate'] is defined %}<div style="float: left; width: 20%"><b style="font-size: 12px !important;">{% if resident['startDate'] %}{{ resident['startDate']|date("m/d/Y") }}{% else %}N/A{% endif %}</b></div>{% endif %}
                            {% if resident['rents'] is defined %}
                                {% for rent in resident['rents'] %}
                                    <div style="float: left; width: 20%"><b style="font-size: 12px !important;">{% if rent.amount is defined and rent.amount %}$&nbsp;{{ rent.amount|number_format(2, '.', ',') }}{% else %}$&nbsp;{{ 0|number_format(2, '.', ',') }}{% endif %}</b></div>
                                    <div style="float: left; width: 20%"><b style="font-size: 12px !important;">{% if rent.start %}{{ rent.start|date("m/d/Y") }}{% endif %}</b></div>
                                {% endfor %}
                            {% else %}
                                <div style="float: left; width: 20%"><b style="font-size: 12px !important;">$&nbsp;{{ 0|number_format(2, '.', ',') }}</b></div>
                                <div style="float: left; width: 20%"><b style="font-size: 12px !important;">N/A</b></div>
                            {% endif %}
                            <div style="float: left; width: 20%"><b style="font-size: 12px !important;">{% if resident['gender'] == 1 %}Male{% elseif resident['gender'] == 2 %}Female{% endif %}</b></div>
                            {% if resident['state'] is defined %}<div style="float: left; width: 20%"><b style="font-size: 12px !important;">{{ admissionType(resident['state']) }}</b></div>{% endif %}
                        </td>
                    </tr>
                    <tr class="dividerSecond">
                        <td colspan="9" style="width: 20px !important; border: none"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="9">
                            <img src="{{ insuranceFile }}" style="display: block; margin: 0 auto; padding: 0; height: 600px; width: 600px;"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% endfor %}
        {% endif %}
    {% endfor %}

{% endblock %}
{% block pageFooter %}
{% endblock %}