{% extends '@api_report/base.twig' %}
{% block pageTitle %}{% endblock %}
{% block pageContent %}

    {% set renderedGroup = null %}
    {% set newGroup = false %}
    {% for typeId in data.typeIds %}
        {% if renderedGroup == typeId %}
            {% set newGroup = false %}
        {% else %}
            {% set renderedGroup = typeId %}
            {% set newGroup = true %}
        {% endif %}

        {% if newGroup %}
            <div class="page"></div>
        {% endif %}
        <table class="report-table main-table">
        <thead>

        </thead>
        <tbody>
        <tr>
            <th colspan="3">
                <div style="margin-bottom: 5px;">
                    <div style="float: left">
                        <div style="height: 5px;"></div>
                        <b style="font-size: 20px !important">ROSTER&nbsp;SIMPLE</b>
                        <p style="margin-bottom: 5px;"></p>
                        <b style="font-size: 16px !important">
                            {% set k = 0 %}
                            {% set count = 0 %}
                            {% for resident in data.residents %}
                                {% if renderedGroup == resident.typeId %}
                                    {% set k = k + 1 %}
                                    {% set count = count + 1 %}
                                    {% if k == 1 %}
                                        {{ resident.typeName }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </b>
                    </div>
                    <div style="float: right;">
                        <b style="font-size: 16px !important">
                            Resident Count: {{ count }}
                        </b>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </th>
        </tr>
        {% if data.strategyId != constant('App\\Model\\GroupType::TYPE_REGION') %}
            <tr>
                {% if data.strategyId == constant('App\\Model\\GroupType::TYPE_FACILITY') %}
                    <td>
                        <b style="width: 200px; text-align: left; font-size: 14px !important;">
                            {% if data.numberOfFloors[typeId] is defined and data.numberOfFloors[typeId] >= 1 %}
                                1st Floor
                            {% endif %}
                        </b>
                    </td>
                    <td>
                        <b style="width: 200px; text-align: left; font-size: 14px !important;">
                            {% if data.numberOfFloors[typeId] is defined and data.numberOfFloors[typeId] >= 2 %}
                                2st Floor
                            {% endif %}
                        </b>
                    </td>
                    <td>
                        <b style="width: 200px; text-align: left; font-size: 14px !important;">
                            {% if data.numberOfFloors[typeId] is defined and data.numberOfFloors[typeId] >= 3 %}
                                3st Floor
                            {% endif %}
                        </b>
                    </td>
                {% endif %}
                {% if data.strategyId == constant('App\\Model\\GroupType::TYPE_APARTMENT') %}
                    <td>
                        {% set i = 0 %}
                        {% for resident in data.residents %}
                            {% if resident.floor == 1 and renderedGroup == resident.typeId %}
                                {% set i = i + 1 %}
                                {% if i == 1 %}
                                    <b style="width: 200px; text-align: left; font-size: 14px !important;">1st Floor</b>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% set j = 0 %}
                        {% for resident in data.residents %}
                            {% if resident.floor == 2 and renderedGroup == resident.typeId %}
                                {% set j = j + 1 %}
                                {% if j == 1 %}
                                    <b style="width: 200px; text-align: left; font-size: 14px !important;">2st Floor</b>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% set l = 0 %}
                        {% for resident in data.residents %}
                            {% if resident.floor == 3 and renderedGroup == resident.typeId %}
                                {% set l = l + 1 %}
                                {% if l == 1 %}
                                    <b style="width: 200px; text-align: left; font-size: 14px !important;">3st Floor</b>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endif %}
            </tr>
            <tr>
                <td style="width: 200px; font-size: 14px !important;">
                    {% for resident in data.residents %}
                        <div style="line-height: 20px;">
                            {% if resident.floor == 1 and renderedGroup == resident.typeId %}
                                {% if resident.private %}
                                    {{ resident.roomNumber }}&nbsp;&nbsp;&nbsp;{{ resident.firstName ~ ' ' ~ resident.lastName }}<br/>
                                {% else %}
                                    {{ resident.roomNumber ~ ' ' ~ resident.bedNumber ~ ' ' ~ resident.firstName ~ ' ' ~ resident.lastName }}<br/>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td style="width: 200px; font-size: 14px !important;">
                    {% for resident in data.residents %}
                        <div style="line-height: 20px;">
                            {% if resident.floor == 2 and renderedGroup == resident.typeId %}
                                {% if resident.private %}
                                    {{ resident.roomNumber }}&nbsp;&nbsp;&nbsp;{{ resident.firstName ~ ' ' ~ resident.lastName }}<br/>
                                {% else %}
                                    {{ resident.roomNumber ~ ' ' ~ resident.bedNumber ~ ' ' ~ resident.firstName ~ ' ' ~ resident.lastName }}<br/>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td style="width: 200px; font-size: 14px !important;">
                    {% for resident in data.residents %}
                        <div style="line-height: 20px;">
                            {% if resident.floor == 3 and renderedGroup == resident.typeId %}
                                {% if resident.private %}
                                    {{ resident.roomNumber }}&nbsp;&nbsp;&nbsp;{{ resident.firstName ~ ' ' ~ resident.lastName }}<br/>
                                {% else %}
                                    {{ resident.roomNumber ~ ' ' ~ resident.bedNumber ~ ' ' ~ resident.firstName ~ ' ' ~ resident.lastName }}<br/>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center">
                    {% set m = 0 %}
                    {% for vacant in data.vacants %}
                        {% if renderedGroup == vacant.typeId %}
                            {% set m = m + 1 %}
                            {% if m == 1 %}
                                <b style="width: 100%; font-size: 14px !important;">Vacant Rooms</b>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td style="width: 200px; font-size: 14px !important;">
                    {% for vacant in data.vacants %}
                        <div style="line-height: 20px;">
                            {% if vacant.floor == 1 and renderedGroup == vacant.typeId %}
                                {% if vacant.private %}
                                    {{ vacant.roomNumber }}&nbsp;<br/>
                                {% else %}
                                    {{ vacant.roomNumber ~ ' ' ~ vacant.bedNumber }}<br/>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td style="width: 200px; font-size: 14px !important;">
                    {% for vacant in data.vacants %}
                        <div style="line-height: 20px;">
                            {% if vacant.floor == 2 and renderedGroup == vacant.typeId %}
                                {% if vacant.private %}
                                    {{ vacant.roomNumber }}&nbsp;<br/>
                                {% else %}
                                    {{ vacant.roomNumber ~ ' ' ~ vacant.bedNumber }}<br/>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td style="width: 200px; font-size: 14px !important;">
                    {% for vacant in data.vacants %}
                        <div style="line-height: 20px;">
                            {% if vacant.floor == 3 and renderedGroup == vacant.typeId %}
                                {% if vacant.private %}
                                    {{ vacant.roomNumber }}&nbsp;<br/>
                                {% else %}
                                    {{ vacant.roomNumber ~ ' ' ~ vacant.bedNumber }}<br/>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td><b style="width: 200px; text-align: left; font-size: 14px !important;">Resident</b></td>
            </tr>
            <tr>
                <td style="font-size: 14px !important;">
                    {% for resident in data.residents %}
                        <div style="line-height: 20px;">
                            {{ resident.firstName ~ ' ' ~ resident.lastName }}
                            {% if resident.address is defined and resident.address %},&nbsp;{{ resident.address }}{% endif %}
                            {% if resident.city is defined and resident.city %},&nbsp;{{ resident.city }}&nbsp;{{ resident.state }}&nbsp;{{ resident.zip }}{% endif %}
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}

    {% if not newGroup %}
        </tbody>
        </table>
    {% endif %}

{% endblock %}
{% block pageFooter %}
{% endblock %}