{% extends '@api_report/base.twig' %}
{% block pageTitle %}{% endblock %}
{% block pageContent %}

    {% set renderedGroup = null %}
    {% set newGroup = false %}
    {% for typeId in data.typeIds %}
        {% if renderedGroup == typeId %}
            {% set newGroup = false %}
        {% else %}
            {% set renderedGroup = typeId %}
            {% set newGroup = true %}
        {% endif %}

        {% if newGroup %}
            <div class="page"></div>
        {% endif %}
        <table class="report-table main-table">
        <thead>

        </thead>
        <tbody>
        <tr>
            <th colspan="3">
                <div style="margin-bottom: 5px;">
                    <div style="float: left">
                        <div style="height: 5px;"></div>
                        <b style="font-size: 18px !important">ROSTER&nbsp;SIMPLE</b>
                        <p style="margin-bottom: 5px;"></p>
                        <b style="font-size: 14px !important">
                            {% set k = 0 %}
                            {% for resident in data.residents %}
                                {% if renderedGroup == resident.typeId %}
                                    {% set k = k + 1 %}
                                    {% if k == 1 %}
                                        {{ resident.typeName }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </b>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </th>
        </tr>
        {#{% if data.strategyId != constant('App\\Model\\GroupType::TYPE_REGION') %}#}
        {% if data.strategyId != constant('App\\Model\\ContractType::TYPE_REGION') %}
            <tr>
                <td><b style="width: 200px; text-align: left; font-size: 13px !important;">1st Floor</b></td>
                <td><b style="width: 200px; text-align: left; font-size: 13px !important;">2nd Floor</b></td>
                <td><b style="width: 200px; text-align: left; font-size: 13px !important;">3rd Floor</b></td>
            </tr>
            <tr>
                <td style="width: 200px; font-size: 13px !important;">
                    {% for resident in data.residents %}
                        <div style="line-height: 20px;">
                            {% if resident.floor == 1 and renderedGroup == resident.typeId %}{{ resident.roomNumber ~ ' ' ~ resident.bedNumber ~ ' ' ~ resident.firstName ~ ' ' ~ resident.lastName }}<br/>{% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td style="width: 200px; font-size: 13px !important;">
                    {% for resident in data.residents %}
                        <div style="line-height: 20px;">
                            {% if resident.floor == 2 and renderedGroup == resident.typeId %}{{ resident.roomNumber ~ ' ' ~ resident.bedNumber ~ ' ' ~ resident.firstName ~ ' ' ~ resident.lastName }}<br/>{% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td style="width: 200px; font-size: 13px !important;">
                    {% for resident in data.residents %}
                        <div style="line-height: 20px;">
                            {% if resident.floor == 3 and renderedGroup == resident.typeId %}{{ resident.roomNumber ~ ' ' ~ resident.bedNumber ~ ' ' ~ resident.firstName ~ ' ' ~ resident.lastName }}<br/>{% endif %}
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td><b style="width: 200px; text-align: left; font-size: 13px !important;">Resident</b></td>
            </tr>
            <tr>
                <td style="font-size: 13px !important;">
                    {% for resident in data.residents %}
                        <div style="line-height: 20px;">
                            {{ resident.firstName ~ ' ' ~ resident.lastName }}
                            {% if resident.address is defined and resident.address %},&nbsp;{{ resident.address }}{% endif %}
                            {% if resident.city is defined and resident.city %},&nbsp;{{ resident.city }}&nbsp;{{ resident.state }}&nbsp;{{ resident.zip }}{% endif %}
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}

    {% if not newGroup %}
        </tbody>
        </table>
    {% endif %}

{% endblock %}
{% block pageFooter %}
{% endblock %}