{% extends '@api_report/base.twig' %}
{% block pageTitle %}
{% endblock %}
{% block pageContent %}

    {% set renderedGroup = null %}
    {% set newGroup = false %}
    {% set i = false %}
    {% for datumKey, datum in data.data %}
        {% set i = true %}
        {% if renderedGroup == datum.typeId %}
            {% set newGroup = false %}
        {% else %}
            {% set renderedGroup = datum.typeId %}
            {% set newGroup = true %}
        {% endif %}

        {% if newGroup %}
            <div class="page"></div>
            <span class="divider"></span>
            <span class="divider"></span>
            <table class="report-table main-table bordered" style="margin-bottom: 10px;">
                <tr class="divider"></tr>
                <thead>
                    <tr>
                        <th colspan="9">
                            <div style="margin-bottom: 5px;">
                                <div style="float: left">
                                    <div style="height: 5px;"></div>
                                    <b style="font-size: 18px !important">{{ data.strategy }}&nbsp;{% if data.strategyId != constant('App\\Model\\GroupType::TYPE_REGION') %}Room&nbsp;{% endif %}Simple&nbsp;Rent&nbsp;Roster&nbsp;Report</b>
                                    <p style="margin-bottom: 5px;"></p>
                                    <b style="font-size: 14px !important">{{ data.strategy }}:&nbsp;{{ datum.typeName }}</b><br/>
                                    <b style="font-size: 14px !important">{{ data.date }}</b>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        {% if datum.roomNumber is defined and datum.bedNumber is defined %}<td><b>Room/Bed</b></td>{% endif %}
                        {% if datum.roomFloor is defined and datum.roomFloor %}<td><b>Floor</b></td>{% endif %}
                        {% if datum.careLevel is defined and datum.careLevel %}<td><b>Level</b></td>{% endif %}
                        <td><b>Resident</b></td>
                        {% if datum.city is defined and datum.city %}<td><b>Address</b></td>{% endif %}
                        <td><b>Rent</b></td>
                        <td><b>Frequency</b></td>
                        <td><b>Admitted</b></td>
                        <td><b>Room&nbsp;Rent&nbsp;Total&nbsp;for&nbsp;month</b></td>
                    </tr>
                </thead>
                <tbody>
        {% endif %}

        <tr>
            {% if datum.roomNumber is defined and datum.bedNumber is defined %}<td style="height: 40px; text-align: left;">{{ datum.roomNumber }}&nbsp;{{ datum.bedNumber }}</td>{% endif %}
            {% if datum.roomFloor is defined and datum.roomFloor %}<td style="height: 40px; text-align: left;">{{ datum.roomFloor }}</td>{% endif %}
            {% if datum.careLevel is defined and datum.careLevel %}<td style="height: 40px; text-align: left;">{{ datum.careLevel }}</td>{% endif %}
            <td style="height: 40px; text-align: left;">{{ datum.firstName ~ ' ' ~ datum.lastName }}</td>
            {% if datum.city is defined and datum.city %}<td style="height: 40px; text-align: left;">{% if datum.address is defined and datum.address %}{{ datum.address }}<br>{% endif %}{{ datum.city }},&nbsp;{{ datum.state }}&nbsp;{{ datum.zip }}</td>{% endif %}
            <td style="height: 40px; text-align: left;">{% if datum.amount is defined and datum.amount %}$ {{ datum.amount|number_format(2, '.', ',') }}{% else %}$&nbsp;{{ 0|number_format(2, '.', ',') }}{% endif %}</td>
            <td style="height: 40px; text-align: left;">{% if datum.period is defined and datum.period %}{{ rentPeriod(datum.period) }}{% else %}N/A{% endif %}</td>
            <td style="height: 40px; text-align: left;">{% if datum.admitted is defined and datum.admitted %}{{ datum.admitted|date("m/d/Y") }}{% else %}N/A{% endif %}</td>
            <td style="height: 40px; text-align: left;">
                {% if data.calcAmount[datum.id] is defined %}$ {{ data.calcAmount[datum.id]|number_format(2, '.', ',') }}<br/>{% else %}$&nbsp;{{ 0|number_format(2, '.', ',') }}{% endif %}
            </td>
        </tr>
        {% if datumKey+1 == data.place[renderedGroup] %}
            <tr>
                <td colspan="10">
                    <div style="margin-bottom: 5px; float: right">
                        <b style="font-size: 20px !important">
                            {% for key, sum in data.total %}
                                {% if key == renderedGroup %}
                                    Total:&nbsp;$&nbsp;{{ sum|number_format(2, '.', ',') }}
                                {% endif %}
                            {% endfor %}
                        </b>
                    </div>
                </td>
            </tr>
            {% if data.strategyId != constant('App\\Model\\GroupType::TYPE_REGION') %}
                <tr>
                    <td colspan="2" style="text-align: left; border: none">
                        {% set m = 0 %}
                        {% for vacant in data.vacants %}
                            {% if renderedGroup == vacant.typeId %}
                                {% set m = m + 1 %}
                                {% if m == 1 %}
                                    <div style="margin-bottom: 5px; text-align: center;">
                                        <b style="width: 100%; font-size: 15px !important;">Vacant Rooms</b><br>
                                    </div>
                                    <div style="margin-bottom: 5px;">
                                        <div style="float: left;">
                                            <b style="width: 50%;">Room/Bed</b>
                                        </div>
                                        <div style="float: right;">
                                            <b style="width: 50%;">Floor</b>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                {% endif %}
                                <div style="margin-bottom: 5px; float: left;">
                                    <span style="width: 50%;">
                                        {% if vacant.roomNumber is defined and vacant.bedNumber is defined %}
                                            {{ vacant.roomNumber }}&nbsp;{{ vacant.bedNumber }}
                                        {% endif %}
                                    </span>
                                </div>
                                <div style="margin-bottom: 5px; float: right;">
                                    <span style="width: 50%;">
                                        {% if vacant.roomFloor is defined and vacant.roomFloor %}
                                            {{ vacant.roomFloor }}
                                        {% endif %}
                                    </span>
                                </div>
                                <div style="clear: both"></div>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if not newGroup %}
        </tbody>
        </table>
    {% endif %}
    {% if not i %}
        <b style="font-size: 18px !important">{{ data.date }} not any data found.</b>
    {% endif %}

{% endblock %}
{% block pageFooter %}
{% endblock %}