{% extends '@api_report/base.twig' %}
{% block pageTitle %}
{% endblock %}
{% block pageContent %}

    {% set renderedGroup = null %}
    {% set newGroup = false %}
    {% set i = false %}
    {% for datumKey, datum in data.data %}
        {% set i = true %}
        {% if renderedGroup == datum.typeId %}
            {% set newGroup = false %}
        {% else %}
            {% set renderedGroup = datum.typeId %}
            {% set newGroup = true %}
        {% endif %}

        {% if newGroup %}
            <div class="page"></div>
            <span class="divider"></span>
            <span class="divider"></span>
            <table class="report-table main-table bordered" style="margin-bottom: 10px;">
            <tr class="divider"></tr>
            <thead>
            <tr>
                <th colspan="9">
                    <div style="margin-bottom: 5px;">
                        <div style="float: left">
                            <div style="height: 5px;"></div>
                            <b style="font-size: 18px !important">{{ data.strategy }}
                                &nbsp;{% if data.strategyId != constant('App\\Model\\GroupType::TYPE_REGION') %}Room&nbsp;{% endif %}
                                Simple&nbsp;Rent&nbsp;Roster&nbsp;Report</b>
                            <p style="margin-bottom: 5px;"></p>
                            <b style="font-size: 14px !important">{{ data.strategy }}
                                :&nbsp;{{ datum.typeName }}</b><br/>
                            <b style="font-size: 14px !important">{{ data.date }}</b>
                        </div>
                        <div style="float: right">
                            <div style="height: 5px;"></div>
                            <b style="font-size: 18px !important">Total&nbsp;Of&nbsp;All:&nbsp;$&nbsp;{{ data.sum|number_format(2, '.', ',') }}</b>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
        {% endif %}
        {% if newGroup %}
            <tr>
                {% if datum.roomNumber is defined and datum.bedNumber is defined %}
                    <td><b>Room/Bed</b></td>{% endif %}
                {% if datum.floor is defined and datum.floor %}
                    <td><b>Floor</b></td>{% endif %}
                {% if datum.careLevel is defined and datum.careLevel %}
                    <td><b>Level</b></td>{% endif %}
                <td><b>Resident</b></td>
                {% if datum.city is defined and datum.city %}
                    <td><b>Address</b></td>{% endif %}
                <td><b>Rent</b></td>
                <td><b>Frequency</b></td>
                <td><b>Admitted</b></td>
                <td><b>Room&nbsp;Rent<br>Total&nbsp;for&nbsp;month</b></td>
            </tr>
        {% endif %}
        <tr>
            {% if datum.roomNumber is defined and datum.bedNumber is defined %}
                <td style="height: 40px; text-align: left;">
                    {% if datum.private %}
                        {{ datum.roomNumber }}&nbsp;
                    {% else %}
                        {{ datum.roomNumber }}&nbsp;{{ datum.bedNumber }}
                    {% endif %}
                </td>
            {% endif %}
            {% if datum.floor is defined and datum.floor %}
                <td style="height: 40px; text-align: left;">{{ datum.floor }}</td>{% endif %}
            {% if datum.careLevel is defined and datum.careLevel %}
                <td style="height: 40px; text-align: left;">{{ datum.careLevel }}</td>{% endif %}
            <td style="height: 40px; text-align: left;">{{ datum.firstName ~ ' ' ~ datum.lastName }}</td>
            {% if datum.city is defined and datum.city %}
                <td style="height: 40px; text-align: left;">{% if datum.address is defined and datum.address %}{{ datum.address }}
                <br>{% endif %}{{ datum.city }},&nbsp;{{ datum.stateAbbr }}&nbsp;{{ datum.zip }}</td>{% endif %}
            <td style="height: 40px; text-align: left;">
                {% if datum.noRent is not defined %}
                    {% if datum.amount is defined and datum.amount %}$ {{ datum.amount|number_format(2, '.', ',') }}{% else %}$&nbsp;{{ 0|number_format(2, '.', ',') }}{% endif %}
                {% else %}No&nbsp;Rent&nbsp;Record{% endif %}
            </td>
            <td style="height: 40px; text-align: left;">{% if datum.period is defined and datum.period %}{{ rentPeriod(datum.period) }}{% else %}N/A{% endif %}</td>
            <td style="height: 40px; text-align: left;">{% if datum.admitted is defined and datum.admitted %}{{ datum.admitted|date("m/d/Y") }}{% else %}N/A{% endif %}</td>
            <td style="height: 40px; text-align: left;">
                {% if data.calcAmount[datum.id] is defined %}$ {{ data.calcAmount[datum.id]|number_format(2, '.', ',') }}
                    <br/>{% else %}$&nbsp;{{ 0|number_format(2, '.', ',') }}{% endif %}
            </td>
        </tr>
        {% if datumKey+1 == data.place[renderedGroup] %}
            <tr>
                <td colspan="10">
                    <div style="margin-bottom: 5px; float: right">
                        <b style="font-size: 20px !important">
                            {% for key, sum in data.total %}
                                {% if key == renderedGroup %}
                                    Total:&nbsp;$&nbsp;{{ sum|number_format(2, '.', ',') }}
                                {% endif %}
                            {% endfor %}
                        </b>
                    </div>
                </td>
            </tr>
            {% if data.strategyId != constant('App\\Model\\GroupType::TYPE_REGION') %}
                {% set m = 0 %}
                {% for vacant in data.vacants %}
                    {% if renderedGroup == vacant.typeId %}
                        {% set m = m + 1 %}
                        {% if m == 1 %}
                            <tr>
                                <td colspan="2" style="margin-bottom: 5px; text-align: center; border: none;">
                                    <b style="width: 100%; font-size: 14px !important;">Vacant Rooms</b><br>
                                </td>
                            </tr>
                            <tr>
                                <td style="margin-bottom: 5px; border: none;">
                                    <b>Room/Bed</b>
                                </td>
                                <td style="margin-bottom: 5px; border: none;">
                                    <b>Floor</b>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td style="margin-bottom: 5px; border: none;">
                                {% if vacant.roomNumber is defined and vacant.bedNumber is defined %}
                                    {% if vacant.private %}
                                        {{ vacant.roomNumber }}&nbsp;
                                    {% else %}
                                        {{ vacant.roomNumber }}&nbsp;{{ vacant.bedNumber }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td style="margin-bottom: 5px; border: none;">
                                {% if vacant.floor is defined and vacant.floor %}
                                    {{ vacant.floor }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if not newGroup %}
        </tbody>
        </table>
    {% endif %}
    {% if not i %}
        <b style="font-size: 18px !important">{{ data.date }}: No Data found for this date.</b>
    {% endif %}

{% endblock %}
{% block pageFooter %}
{% endblock %}