{% extends '@api_report/base.twig' %}
{% block pageTitle %}{% endblock %}
{% block pageContent %}

    {% for residentId, resident in data.residents %}
        <div class="page"></div>
        <span class="divider"></span>
        <span class="divider"></span>

        <table class="report-table main-table bordered">
            <tr class="divider"></tr>
            <thead>
            <tr>
                <th colspan="11">
                    <div style="float: left">
                        <p style="font-size: 20px !important; text-align: left;">Medication List Report</p>
                        <p style="font-size: 16px !important; text-align: left;">{{ resident.firstName ~ ' ' ~ resident.lastName }}</p>
                        <p style="text-align: left;">DOB: {{ resident.birthday|date("m/d/Y") }}</p>
                    </div>
                    <div style="float: right">
                        {% if resident.typeName is defined %}
                            <p style="font-size: 16px !important; text-align: right;">{{ resident.typeName }}</p>
                            <p style="text-align: right;">{% if resident.address is defined and resident.address %}{{ resident.address }}{% endif %}</p>
                            <p style="text-align: right;">{% if residentlicense is defined and residentlicense %}#{{ residentlicense }}{% endif %}</p>
                        {% endif %}
                    </div>
                    <div style="clear: both"></div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% if resident.medications is defined %}
                {% if resident.medications.active is defined %}
                    <tr>
                        <th colspan="11">
                            <b style="float: left; font-size: 20px !important; text-align: left; margin-bottom: 5px;">Active
                                Medications</b>
                        </th>
                    </tr>
                    <tr>
                        <td><b>Medication</b></td>
                        <td><b>Dosage</b></td>
                        <td><b>Instructions</b></td>
                        <td><b>AM</b></td>
                        <td><b>NN</b></td>
                        <td><b>PM</b></td>
                        <td><b>HS</b></td>
                        <td><b>PRN</b></td>
                        <td><b>TR</b></td>
                        <td><b>Prescription #</b></td>
                        <td><b>Prescribing Physician</b></td>
                    </tr>
                    {% for medication in resident.medications.active %}
                        <tr>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.medication }}</td>
                            <td style="height: 50px; vertical-align: middle;">{% if medication.dosage %}{{ medication.dosage }} ({{ medication.dosageUnit }}){% endif %}</td>
                            <td style="width: 250px; height: 50px; vertical-align: middle;">{{ medication.notes }}</td>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.medicationAm }}</td>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.medicationNn }}</td>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.medicationPm }}</td>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.medicationHs }}</td>
                            <td style="height: 50px; vertical-align: middle;">{% if medication.medicationPrn %}Yes{% else %}No{% endif %}</td>
                            <td style="height: 50px; vertical-align: middle;">{% if medication.medicationTreatment %}Yes{% else %}No{% endif %}</td>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.prescriptionNumber }}</td>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.physicianFirstName ~ ' ' ~ medication.physicianLastName }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if data.discontinued and resident.medications.discontinued is defined %}
                    <tr class="divider"></tr>
                    <tr class="divider"></tr>
                    <tr>
                        <th colspan="11">
                            <b style="float: left; font-size: 20px !important; text-align: left; margin-bottom: 5px;">Discontinued
                                Medications</b>
                        </th>
                    </tr>
                    <tr>
                        <td><b>Medication</b></td>
                        <td><b>Dosage</b></td>
                        <td><b>Instructions</b></td>
                        <td><b>AM</b></td>
                        <td><b>NN</b></td>
                        <td><b>PM</b></td>
                        <td><b>HS</b></td>
                        <td><b>PRN</b></td>
                        <td><b>TR</b></td>
                        <td><b>Prescription #</b></td>
                        <td><b>Prescribing Physician</b></td>
                    </tr>
                    {% for medication in resident.medications.discontinued %}
                        <tr>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.medication }}</td>
                            <td style="height: 50px; vertical-align: middle;">{% if medication.dosage %}{{ medication.dosage }} ({{ medication.dosageUnit }}){% endif %}</td>
                            <td style="width: 250px; height: 50px; vertical-align: middle;">{{ medication.notes }}</td>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.medicationAm }}</td>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.medicationNn }}</td>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.medicationPm }}</td>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.medicationHs }}</td>
                            <td style="height: 50px; vertical-align: middle;">{% if medication.medicationPrn %}Yes{% else %}No{% endif %}</td>
                            <td style="height: 50px; vertical-align: middle;">{% if medication.medicationTreatment %}Yes{% else %}No{% endif %}</td>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.prescriptionNumber }}</td>
                            <td style="height: 50px; vertical-align: middle;">{{ medication.physicianFirstName ~ ' ' ~ medication.physicianLastName }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if resident.medications.active is not defined and data.discontinued == false %}
                    <tr>
                        <td><b>No&nbsp;Medications</b></td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td><b>No&nbsp;Medications</b></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endfor %}

{% endblock %}
{% block pageFooter %}
{% endblock %}