{% extends '@api_report/base.twig' %}
{% block pageTitle %}
    <span style="float: left">{{ data.title }}</span>
{% endblock %}
{% block pageContent %}

    {% set renderedGroup = null %}
    {% set newGroup = false %}
    {% for resident in data.residents %}
        {% if renderedGroup == resident.typeId %}
            {% set newGroup = false %}
        {% else %}
            {% set renderedGroup = resident.typeId %}
            {% set newGroup = true %}
        {% endif %}


        {% if newGroup %}
            <span class="divider"></span>
            <span class="divider"></span>
            <table class="report-table main-table bordered" style="margin-bottom: 10px;">
            <tr class="divider"></tr>
            <thead>
            <tr>
                <th colspan="8">
                    <div style="float: left">
                        <h3>{{ resident.typeName }}</h3>
                        Please initial and date each box when completed.
                    </div>
                </th>
            </tr>
            <tr>
                <td></td>
                <td><b>CLOTHES</b></td>
                <td><b>DRAWERS/CLOSET</b></td>
                <td><b>EXTRA THINGS</b></td>
                <td><b>TOILETRIES</b></td>
            </tr>
            </thead>
            <tbody>
        {% endif %}

        <tr>
            <td style="height: 60px; text-align: left;">
                {% if resident.roomNumber is defined and resident.bedNumber is defined %}
                    {% if resident.private %}
                        {{ resident.roomNumber }}&nbsp;<br/>
                    {% else %}
                        {{ resident.roomNumber ~ ' ' ~ resident.bedNumber }}<br/>
                    {% endif %}
                {% endif %}{{ resident.firstName ~ ' ' ~ resident.lastName }}
            </td>
            <td style="height: 60px"></td>
            <td style="height: 60px"></td>
            <td style="height: 60px"></td>
            <td style="height: 60px"></td>
        </tr>

    {% endfor %}

    {% if not newGroup %}
        </tbody>
        </table>
    {% endif %}

    <table class="report-table main-table" style="margin-bottom: 10px;">
        <tr class="divider"></tr>
    </table>

{% endblock %}
{% block pageFooter %}
{% endblock %}