{% extends '@api_report/base.twig' %}
{% block pageTitle %}
    {{ data.title }}
{% endblock %}
{% block pageContent %}

    {% set renderedGroup = null %}
    {% set newGroup = false %}
    {% for datum in data.data %}
        {% if renderedGroup == datum.typeId %}
            {% set newGroup = false %}
        {% else %}
            {% set renderedGroup = datum.typeId %}
            {% set newGroup = true %}
        {% endif %}


        {% if newGroup %}
            <span class="divider"></span>
            <span class="divider"></span>
            <table class="report-table main-table bordered">
            <tr class="divider"></tr>
            <thead>
            <tr>
                <th colspan="8">
                    <h3>{{ datum.typeName }}</h3>
                </th>
            </tr>
            <tr>
                <td><b>Physician Name</b></td>
                <td><b>Count</b></td>
                <td><b>Address, CSZ</b></td>
                <td><b>Office Phone</b></td>
                <td><b>Emergency Phone</b></td>
                <td><b>Email</b></td>
                <td><b>Fax</b></td>
                <td><b>Website Url</b></td>
            </tr>
            </thead>
            <tbody>
        {% endif %}

        <tr>
            <td>
                {% if datum.firstName and datum.lastName %}
                    {% if datum.salutation == true %}{{ datum.salutation }}&nbsp;{% endif %}{{ datum.firstName ~ ' ' ~ datum.lastName }}
                {% endif %}
            </td>
            <td>
                {% if data.count[datum.typeId] is defined and data.count[datum.typeId][datum.pId] is defined %}
                    {{ data.count[datum.typeId][datum.pId] }}
                {% else %}
                    0
                {% endif %}
            </td>
            <td>
                {{ datum.address }},
                <br/> {{ datum.city }} {{ datum.state }} {{ datum.zip }}
            </td>
            <td>
                {% set a = 0 %}
                {% for physicianPhone in data.physicianPhones %}
                    {% if physicianPhone.pId == datum.pId and physicianPhone.type == constant('App\\Model\\Phone::TYPE_OFFICE') %}
                        {% set a = a + 1 %}
                        {{ physicianPhone.number }}<br/>
                    {% endif %}
                {% endfor %}
                {% if a == 0 %}N/A{% endif %}
            </td>
            <td>
                {% set b = 0 %}
                {% for physicianPhone in data.physicianPhones %}
                    {% if physicianPhone.pId == datum.pId and physicianPhone.type == constant('App\\Model\\Phone::TYPE_EMERGENCY') %}
                        {% set b = b + 1 %}
                        {{ physicianPhone.number }}<br/>
                    {% endif %}
                {% endfor %}
                {% if b == 0 %}N/A{% endif %}
            </td>
            <td>
                {% if datum.email is defined and datum.email %}
                    {{ datum.email }}
                {% endif %}
            </td>
            <td>
                {% set c = 0 %}
                {% for physicianPhone in data.physicianPhones %}
                    {% if physicianPhone.pId == datum.pId and physicianPhone.type == constant('App\\Model\\Phone::TYPE_FAX') %}
                        {% set c = c + 1 %}
                        {{ physicianPhone.number }}<br/>
                    {% endif %}
                {% endfor %}
                {% if c == 0 %}N/A{% endif %}
            </td>
            <td>
                {% if datum.websiteUrl is defined and datum.websiteUrl %}
                    {{ datum.websiteUrl }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    {% if not newGroup %}
        </tbody>
        </table>
    {% endif %}

    <table class="report-table main-table">
        <tr class="divider"></tr>
    </table>

{% endblock %}
{% block pageFooter %}
{% endblock %}