{% extends "@api_email/base.html.twig" %}
{% block title %}
    {{ subject }}
{% endblock %}
{% block content %}
    {% if data|length > 0 %}
        <table style="border-collapse:collapse;border-spacing:0" width="100%">
            <tbody>
            <p style="margin-top: 15px;font-size: large;"></p>
            <strong>The following residents are missing payment sources in their rent records. This prevents the
                automatic creation of their billing statements. Please add the correct payment source information
                for these residents.</strong>
            {% for datum in data %}
                <p style="margin-top: 15px;font-size: large;"></p>
                <tr>
                    <td>
                        <p style="padding:0; margin: 0 0 0 25px;font-size: small;">
                            <strong>Resident:</strong> {{ datum['resident']|raw }}</p>
                        <p style="padding:0; margin: 0 0 0 25px;font-size: small;">
                            <strong>Room:</strong> {{ datum['room']|raw }}</p>
                        <p style="padding:0; margin: 0 0 0 25px;font-size: small;">
                            <strong>Start:</strong> {{ datum['start']|date('m/d/Y') }}</p>
                        <p style="padding:0; margin: 0 0 0 25px;font-size: small;">
                            <strong>Amount:</strong> ${{ datum['amount']|number_format(2, '.', ',') }}</p>
                        <p style="padding:0; margin: 0 0 0 25px;font-size: small;">
                            <strong>Reason:</strong> {{ datum['reason']|raw }}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table style="border-collapse:collapse;border-spacing:0" width="100%">
            <tbody>
            <p style="margin-top: 15px;font-size: large;"></p>
            <tr>
                <td>
                    <strong>Rent Records for "{{ groupName }}" have been check for consistency and all are OK.</strong>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
